.store-stock-container, .store-stock-total-container{
  margin-top: 10px;

  .store-stock-store-label{
    text-transform: uppercase;
    margin-bottom: $sc-base-margin * 2;
    display: block;
  }

  .store-stock-stock-label{
    text-transform: uppercase;
    margin-bottom: $sc-base-margin * 2;
  }


  .store-stock-state-list{
    @extend .input-medium;
    display: inline-block;
  }

  .store-stock-store-list{
    @extend .input-medium;
    display: inline-block;
  }

  .store-stock-help{
    @extend .message-info;
    margin-top: $sc-base-margin * 3;
  }

  .store-stock-help-icon{
    @extend .fa;
    @extend %fa-info-circle;
    margin-right: $sc-base-margin;
  }

  .store-stock-bg{
    @include border-radius(8%);
    padding: $sc-base-padding;
  }

  .store-stock-bg-in-stock{
    @extend .store-stock-bg;
    background-color: #14892c;
    color: #ffffff;
  }

  .store-stock-bg-out-stock{
    @extend .store-stock-bg;
    background-color: #d04437;
    color: #ffffff;
  }

  .store-stock-bg-limited-stock{
    @extend .store-stock-bg;
    background-color: #ffd351;
  }

}