.bopis-order-wizard-delivery-method-selector-module-shipping {

  @extend .button-large;
  @extend .button-primary;
  min-width: 190px;

  @media (min-width: $screen-sm-min) {
    margin-left: $sc-base-margin * 2;
    float: right;
  }
}
.bopis-order-wizard-delivery-method-selector-module-pickup {

  @extend .button-large;
  @extend .button-primary;
  min-width: 190px;

  @media (min-width: $screen-sm-min) {
    margin-left: $sc-base-margin * 2;
    float: right;
  }
}