.inventory-display-container{
    margin-top: $sc-medium-margin;
    margin-bottom: $sc-small-margin;

    & > div{
        margin-bottom: $sc-base-margin * 2;
    }
    .inventory-display-link-checkotherstore{
        margin-left: 22px;
        display: block;
    }
}

.inventory-display-button-show-storelocator{
    @media (max-width: $screen-md-min) {
        display: none;
    }
}

.inventory-display-button-show-storelocator-pusher{
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.inventory-display-pushpane-map{
    max-width: $screen-md-min;
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.global-views-modal-content-body{
    .inventory-display-pushpane-map{
        max-width: $screen-md-min;
        @media (min-width: $screen-md-min) {
            display: block;
        }
    }
}

.inventory-display-status {
    @extend .row;
    & .storelocator-container {
        padding: 0;
    }
    & .storelocator-container .storelocator-header {
        margin-top: $sc-base-margin * 3;
        padding: 0 $sc-base-padding * 3 $sc-base-padding * 3;
    }
    & .storelocator-geolocate {
        display: block;
        margin: $sc-base-margin * 2 0;
    }
    @media (min-width: $screen-xs-min) {
        & .storelocator-geolocate {
            display: inline-block;
            margin: 0;
        }
    }
}

.inventory-display-status-icon {
    @extend .col-xs-1;
    width: 25px; /* fix the width */
    line-height: 1.6em;
}

.inventory-display-status-text {
    @extend .col-xs-10;
    width: 85%;
    line-height: 1.6em;
    padding-left: $sc-base-padding * 2;
}