/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-summary-gift-certificate-cell {
	@extend .cart-summary-grid-float;
}

.cart-summary-gift-certificate-cell-value {
	@extend .cart-summary-grid-right;
	font-size:$sc-base-font-size;
}