/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-summary-container{
		margin-bottom:$sc-medium-margin;
		border:1px solid $sc-color-theme-background;
		@media(min-width: $screen-sm-min){
			margin-bottom:0px;
		}
}

.cart-summary-title{
	background:$sc-color-theme-background;
	text-align:center;
	padding:$sc-base-padding * 4 0px $sc-base-padding * 4 0px;
	margin-bottom:$sc-medium-margin;
}

.cart-summary-expander-container{
	padding:0px $sc-base-padding * 3;
	margin-bottom:$sc-medium-margin;
	clear:both;
}
.cart-summary-expander-head{
	@extend .accordion-head;
}

.cart-summary-expander-head-toggle{
	@extend .accordion-head-toggle;
}

.cart-summary-expander-toggle-icon{
	@extend .accordion-toggle-icon;
}

.cart-summary-expander-body{
	@extend .accordion-body-alt;
}

.cart-summary-button-estimate{
	@extend .button-secondary;
	@extend .button-medium;
	margin-top:$sc-medium-margin / 2;
}

.cart-summary-estimate-input{
	@extend .input-generic;
	margin-bottom:$sc-small-margin;
}

.cart-summary-button-container{

	display: none;

	@media (min-width: $screen-sm-min) {
		@extend .col-xs-12;
		background:$sc-color-theme-background;
		padding:$sc-base-padding * 3;
		margin-bottom:$sc-small-margin;
		display: block;
	}
}

.cart-summary-total{
	p{
		@extend .summary-total;
	}
}

.cart-summary-subtotal{
	margin-bottom:$sc-medium-margin;
	font-weight:$sc-font-weight-bold;
	text-transform:uppercase;
	font-size:$sc-h5-font-size;
}

.cart-summary-subtotal-legend{
	font-size:$sc-small-font-size;
	text-transform:capitalize;
	font-weight:$sc-font-weight-normal;
	margin:0px $sc-base-margin * 3 $sc-base-margin * 3 $sc-base-margin * 3;
}

.cart-summary-grid{
	@extend .row;
	clear:both;
	margin:0px;
	//margin-bottom:$sc-small-margin;
}

.cart-summary-grid-float{
	@extend .summary-grid-float;
}

.cart-summary-shipping-cost-applied{
	margin-bottom:$sc-medium-margin;
	font-size:$sc-base-font-size;
}

.cart-summary-grid-left{
	padding-left:$sc-base-padding * 3;
}

.cart-summary-grid-right{
	float:right;
	padding-left: $sc-base-padding;
	padding-right:$sc-base-padding * 3;
}

.cart-summary-remove-action{
	margin-left: $sc-base-margin;
	cursor: pointer;
	cursor: hand;

	i {
		@extend .icon-base;
		@extend %fa-times-circle;
		color: $sc-color-theme-light;
		position: relative;
  		top: 2px;
	}
}

/* Summary extend labels */

.cart-summary-label-shipto{
	@extend .cart-summary-grid-left;
}

.cart-summary-label-shipto-success {
	@extend .text-success;
}

.cart-summary-label-shipping{
	@extend .cart-summary-grid-left;
}

.cart-summary-amount-shipping{
	@extend .cart-summary-grid-right;
}

.cart-summary-label-handling{
	@extend .cart-summary-grid-left;
}

.cart-summary-amount-handling{
	@extend .cart-summary-grid-right;
}

.cart-summary-label-tax{
	@extend .cart-summary-grid-left;
}

.cart-summary-amount-tax{
	@extend .cart-summary-grid-right;
}

.cart-summary-label-total{
	@extend .cart-summary-grid-left;
}

.cart-summary-amount-total{
	@extend .cart-summary-grid-right;
}

.cart-summary-label-subtotal{
	@extend .cart-summary-grid-left;
}

.cart-summary-amount-subtotal{
	@extend .cart-summary-grid-right;
}

.cart-summary-label-discount-total{
	@extend .cart-summary-grid-left;
	font-size:$sc-base-font-size;
}

.cart-summary-amount-discount-total{
	@extend .cart-summary-grid-right;
	font-size:$sc-base-font-size;
}

.cart-summary-label{
	@extend .input-label;
	display:block;
}

.cart-summary-input-country{
	@extend .input-generic;
	margin-bottom:$sc-small-margin;
}

/* GIFT CERTIFICATES */
.cart-summary-giftcertificate-applied {
	padding-bottom: $sc-base-padding * 2;
}

.cart-summary-giftcertificate-applied-title {
	@extend .cart-summary-grid-float;
}

.cart-summary-promocode{
	font-size:$sc-base-font-size;
	overflow:hidden;
}

.cart-summary-promocode-text-success{
	padding-left:$sc-base-padding * 3;
	padding-bottom: $sc-base-padding;
}

.cart-summary-promocode-code {
	color: $sc-color-secondary;
}

.cart-summary-discount-applied{}

.cart-summary-expander-tooltip{
	@extend .sc-tooltip;
	@extend .icon-question-sign;
}

/* FIX (rename/move)*/
.cart-summary-item-quantity-subtotal{
	font-weight: $sc-font-weight-normal;
}

.cart-summary-zip-code{
	@extend .input-small;
	@extend .zip;
}

.cart-summary-button-proceed-checkout{
	@extend .button-proceed-checkout;
}

.cart-summary-btn-paypal-express{
	@extend .btn-paypal-express;
}

/* FIX (WSDK issue) */
.cart-summary-continue-shopping {}