/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-detailed{
	@extend .cart;
}

.cart-detailed-view-header{
	@extend .view-header;
}

.cart-detailed-title{
	@extend .cart-title;
}

.cart-detailed-title-details-count{
	@extend .cart-title-details-count;
}

.cart-detailed-confirm-message{
	@extend .confirm-message;
}

.cart-detailed-right{
	@extend .cart-right;
}

.cart-detailed-body{
	@extend .cart-body;
}

.cart-detailed-left{
	@extend .cart-left;
}

.cart-detailed-footer{
	@extend .cart-footer;
}

.cart-detailed-header{
	@extend .cart-header;
}

.cart-detailed-savedforlater{
	@extend .cart-savedforlater;
}

.cart-detailed-proceed-to-checkout-container{
	@extend .cart-proceed-to-checkout-container;
}

.cart-detailed-proceed-to-checkout{
	@extend .cart-proceed-to-checkout;
}

.cart-detailed-body-empty{
	@extend .cart-body-empty;
}

.cart-detailed-body-empty-title{
	@extend .cart-body-empty-title;
}

.cart-detailed-body-empty-info{
	@extend .cart-body-empty-info;
}

.cart-detailed-row-fluid{
	@extend .row-fluid;
}

.cart-detailed-recently-viewed{
	@extend .cart-recently-viewed;
}

.cart-detailed-related{
	@extend .cart-related;
}

.cart-detailed-correlated{
	@extend .cart-correlated;
}

.cart-detailed-item-view-cell-actionable-table{
	@extend .item-views-cell-actionable-table;
}

.cart-detailed-table-row-with-border{
	@extend .table-row-with-border;
}