/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-promocode-unsupported-message{
	margin-bottom:$sc-medium-margin;
}

.order-wizard-promocode-unsupported-button-container{
	clear:both;
	display: block;
}

.order-wizard-promocode-unsupported-button-continue{
	@extend .wizard-step-button-continue;
}

.order-wizard-promocode-unsupported-button-back{
	@extend .wizard-step-button-back;
}