body {
  counter-reset: section;
}

.storelocator-group-store {
  counter-reset: subsection;
  position:relative;
}

.storelocator-group-store:before {
  counter-increment: section;
  content: counter(section, upper-alpha);
  position: absolute;
  z-index: 100;
  right: 21px;
  top: 15px;
  font-size: $sc-small-font-size;
}

.storelocator-storelist {
  padding-top: $sc-base-padding * 4;
  margin: $sc-medium-margin 0;
  @include clearfix();
  border-top: 1px solid $sc-color-theme-border;
  .storelocator-store {
    margin: $sc-base-margin 0;
  }
}
.storelocator-container{
  @extend .container;
  .storelocator-header{
    background: $sc-color-theme-background-light;
    padding: $sc-base-padding * 6;
    h3 {
      padding: $sc-base-padding * 6 0 $sc-base-padding * 2;
      color: #000;
    }
    label {
      font-weight: $sc-font-weight-bold;
    }
    .storelocator-input {
      margin: $sc-small-margin 0 0;
    }
  }

  .storelocator-content {
    width: 100%;
    padding: $sc-base-padding * 2 0;
    margin: 0;
    .storelocator-map-view {
      @extend .col-md-9;
      margin: 0;
      padding: 0;
      .storelocator-map {
        width: auto;
        margin: 0;
        padding: 0;
      }

      .storelocator-mapShow {
        height: 400px;
        @media (min-width: $screen-md-min) {
          height: 720px;
        }
      }
    }

    .storelocator-list-stores {
      @extend .col-md-3;
      padding: 0 $sc-base-padding * 2 0 0;
      margin: 0;
      .storelocator-list-header {
        @extend small;
        padding: $sc-base-padding $sc-base-padding * 3;
        border-bottom: 1px solid $sc-color-theme-light;
      }
      .storelocator-navigation-list-wrapper {
        max-height: 472px;
        overflow: hidden;
        &:hover {
          overflow-y: scroll;
        }
        ul li h4 { cursor: pointer; }

        .storelocator-group-store {
          padding: $sc-base-padding $sc-base-padding * 3;
          .storelocator-group-store-title {
            font-size: $sc-base-font-size;
            display: block;
            padding: $sc-base-padding * 2 0;
            .storelocator-list-store-geolocation {
              position: absolute;
              right: 0;
              top: 5px;
            }

            .storelocator-group-store-button {
              @extend .button-tertiary;
              @extend .button-small;
            }
          }
        }
      }
    }
  }
}

.stores-store-locator-details-container {
  @extend .container;
  .col {
    @extend .clearfix;
    padding: $sc-base-padding * 2 0;
  }

  .stores-store-locator-map-placeholder {
    margin-top: 0;
  }

  .travelMode {
    @extend .button-tertiary;
    @extend .button-small;
    border: none;
    &:hover {
      background: $sc-color-primary-hover;
      color: $sc-color-tertiary;
    }

    i {
      color: $sc-color-secondary;
      font-size: $sc-navigation-icon-size - 8;
      @extend .fa;
    }
    .driving-icon {
      @extend %fa-car;
    }
    .transit-icon {
      @extend %fa-bus;
    }
    .bicycling-icon {
      @extend %fa-bicycle;
    }
    .walking-icon {
      @extend %fa-child;
    }
  }

  .active {
    background: $sc-color-primary-active;
    border: none;
    i {
      color: $sc-color-tertiary !important;
    }
  }

  .store-detail-directions {
    display: block;
    clear: both;
    margin-top: $sc-medium-margin;
    margin-bottom: $sc-medium-margin;
    max-height: 320px;
    overflow-x: auto;
    @media print {
      max-height: none !important;
      display: block !important;
    }

    .adp-text {
      vertical-align: center !important;
    }
  }

  .infoWinWidth {
    display: none;
  }

  .map-container {
    margin: 0;
    padding: 0;
    img {
      max-width: none !important;
    }
    .storelocator-details-map {
      width: auto;
      height: 400px;
      margin: 0;
      padding: 0;
      @media (min-width: $screen-md-min) {
        height: 720px;
      }
      @media print {
        width: 900px !important;
        height: 600px !important;
        margin: auto !important;
        display: block !important;
      }
    }
  }
}

.storeSection {
  position: relative;
}

.storelocator-button {
  @extend .button-small;
  margin-right: $sc-base-margin * 2;
}

.storelocator-submit {
  @extend .button-secondary;
}

.storelocator-geolocate {
  @extend .button-primary;
}

.stores-store-locator-navigation-list{
  margin-bottom: $sc-small-margin;
}

.storelocator-highlighted {
  background-color: $sc-color-theme-background;
  .stores-store-locator-navigation-list-group-address {
    color: $sc-color-theme;
  }
}

.stores-store-locator-search-form,
.storelocator-direction-buttons {
  @media print {
    display: none;
  }
}

.storelocator-search,
.stores-store-locator-search-form-input {
  @extend .input-small;
}

.labelMarker {
  color: $sc-color-tertiary;
}

.storelocator-search {
  width: 300px;
  @media (max-width: $screen-sm-min) {
    width: 95%;
  }
}

.storelocator-print-direction-button,
.store-locator-back-button {
  @extend .button-tertiary;
  @extend .button-small;
  margin-right: $sc-medium-margin;
}

.storelocator-print-direction {
  display: none;
}

@media print {
  /* hide anything */
  /* cannot style header and footer tags as this will apply sitewide */
  /* add classes and add to class list starting line 227 */
  /* header,
  footer {
    display: none;
  } */
}

.storelist-container {
  @extend .container;
}