<div>
    <div class="google-recaptcha-view-form-content-group-label">{{rlabel}}
        <span class="google-recaptcha-view-form-content-required">&nbsp;*</span>
    </div>
    <div id="Recaptcha"></div>
    <br />
    <div><small class="msg"></small></div>
</div>
