.bis-control {
  @media (max-width: 767px) {
    position: static;
  }
}

.bis {
  display: inline-block;

  @media (max-width: 767px) {
    width: 100%;
  }

  /*
  .control-group-name {
    display:inline-block;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  hr {
    margin: 0 10px;
  }*/

  .sub-menu {
    width: 400px;
    margin-top: 12px;
    text-overflow: ellipsis;

    @media (max-width: 767px) {
      width: 100%;
    }

    h4 {
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
    }

    li {
      padding: 5px 2px;
    }

  }

  form {
    padding-top: 5px;
    margin: 0;
  }
}
.bis-form { padding: 20px}
.bis-message {padding: 20px 20px 0 20px}