.header-logo-image{
  max-height: 55px;
}

.home-slide-main-container{
  min-height: 400px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}