@lightOrange: #fe6b38;
@darkOrange: #eb5824;

@lightBlack: #f5f5f5;
@lightGray: #fafafa;

@blue: #535354;
@blueLight: #535354;

@mainBorderColor: #d9d9d9;

#storelocator-map-placeholder img {
  max-width: none !important;
}

.store-cell-grid { 
	background-color: @lightGray;
	background-image: -webkit-linear-gradient(@lightGray, @lightBlack);
	background-image: -o-linear-gradient(@lightGray, @lightBlack);
	background-image: linear-gradient(@lightGray, @lightBlack);
	min-height: 75px;
	border-bottom: 1px solid @mainBorderColor;
	border-top: 1px solid #fff;
	list-style: none;
	padding: 10px;
	position: relative;
}

.store-highlighted {
	background-color: @lightOrange;
	background-image: -webkit-linear-gradient(@lightOrange, @darkOrange);
	background-image: -o-linear-gradient(@lightOrange, @darkOrange);
	background-image: linear-gradient(@lightOrange, @darkOrange);
}


#storelocator-list-active, #stores-list-store, #storelocator-list-also {

  margin: 0;

}
.storelocator-result-section {
	border-bottom: 1px solid @mainBorderColor;
	border-right: 1px solid @mainBorderColor;
	border-left: 1px solid @mainBorderColor;
	font-size: 12px;
	overflow: auto;
	height: 422px;

}
.storelocator-result-section address { margin: 0}
.storelocator-result-header {
	background-color: @lightGray;
	float: none;
	padding: 5px 10px;
	font: 12px arial;
	overflow: hidden;
}
.storelocator-result-section h4 {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	color: #000
}


#storelocator-map-placeholder {
	height:650px; 
	width: auto;
}
#search-placeholder input[type="text"] {
	width: 95%;
}
#search-placeholder select {
	width: 100%
	}
.storeSection { position: relative;}

.storeSection div.pointer {
	float: left;
	height: 41px;
	text-align: center;
	width: 31px;
	padding-top: 4px;
	padding-left: 10px
}

.store-cell-grid .distance {
	color: #777777;
	text-align: center;
	width: 55px;
	float: left;
	position: absolute;
	top: 50px;
	font-size: 10px
}

div.store-info {
	display: block;
	margin-left: 65px;
	float: none;
}
.store-info-window #top-cont, .store-info-window #mid-cont, .store-info-window #bot-cont {
	 border-bottom: 1px solid @mainBorderColor;
}
.store-info-window #bot-cont {
	float: none;
	clear: both;
	height: 30px
}
.store-info-window #bot-cont ul {
	margin: 0;
	padding: 0
}
.store-info-window #bot-cont ul li {
	list-style: none;
	margin: 0;
	padding: 5px 10px 0 0;
	float: left;
}
// .store-info-window #mid-cont #store-img {
// 	float: left;
// 	width: 50%
// }
.store-info-window #mid-cont #store-address {
	// float: left;
	width: 100%;

}

.geolocate-marker {
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: relative;
}
.geolocate-marker:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 2px;
  right: -6px;
  top: 3px;
  background-color: #333;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: -14px 0 #333;
}
.geolocate-marker:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 6px;
  right: 3px;
  top: 8px;
  background-color: #333;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 -14px 0 #333;
}

.btn-store-locator-geolocate {
	padding: 7px;
}


.store-info-window #mid-cont address { margin: 10px 0}

@media (max-width: 767px) {
	#store-locator {
		padding: 9px
	}
	.btn-store-locator-search {
		margin-top: 20px;
		font-size: 17px
	}
	#search-placeholder input[type="text"] {
		width: 100%;
	}
	.btn-store-locator-reset{
		display: inline-block !important;
		width: 30% !important
	}
	.btn-store-locator-geolocate {
		display: inline-block !important;
		width: 10% !important
	}

}