/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-non-bopis-items-module {


	.order-wizard-non-bopis-items-module-header-img {
		@extend .column-type-image;
	}

	.order-wizard-non-bopis-items-module-header-qty,
	.order-wizard-non-bopis-items-module-header-unit-price,
	.order-wizard-non-bopis-items-module-header-amount	,

	.item-view-cell-navigable-item-quantity,
	.item-view-cell-navigable-item-unit-price,
	.item-view-cell-navigable-amount{
		@media(min-width: $screen-md-min){
			width: 15%;
			text-align: right;
		}
	}

	.item-views-item-options-container {
		margin-bottom: $sc-small-margin;
		line-height: normal;
	}

	.item-view-cell-navigable-item-quantity,
	.item-view-cell-navigable-item-unit-price,
	.item-view-cell-navigable-item-amount {
		margin-bottom: $sc-small-margin;
	}

	.item-view-cell-navigable-amount {
		text-align: left;
		@media (min-width: $screen-md-min) {
			text-align: right;
		}
	}
}

.order-wizard-non-bopis-items-module-headers-table {
	width: 100%;

	@media (min-width: $screen-md-min) {
		.item-views-cell-navigable-item-quantity {
			text-align: right;
		}
	}
}

.order-wizard-non-bopis-items-module-accordion-divider {
	margin-bottom:$sc-medium-margin;
}

.order-wizard-non-bopis-items-module-accordion-head {
	@extend .accordion-head;
}

.order-wizard-non-bopis-items-module-accordion-head-toggle-secondary {
	@extend .accordion-head-toggle-secondary;
	height: auto;
}

.order-wizard-non-bopis-items-module-accordion-head-title-container {}

.order-wizard-non-bopis-items-module-accordion-head-info {
  max-width: 50%;
	display: inline-block;
	line-height: 1.6;
	padding-top: $sc-base-padding * 2;

	@media (min-width: $screen-sm-min) {
		max-width: 100%;
	}
}

.order-wizard-non-bopis-items-module-accordion-toggle-icon-secondary {
	@extend .accordion-toggle-icon-secondary;
}

.order-wizard-non-bopis-items-module-accordion-head-count {
	@extend .sc-label;
	float: right;
	margin-right: $sc-base-margin * 2;
}

.order-wizard-non-bopis-items-module-accordion-body {
	@extend .accordion-body;
	// padding-top: $sc-base-padding * 3;
}
.order-wizard-non-bopis-items-module-headers-table-header {
	@extend .table-flex-item-viewonly;
	display:none;
	@media(min-width: $screen-md-min){
		display:table-row-group;
		border-bottom:1px solid $sc-color-theme-background;
	}
}

.order-wizard-non-bopis-items-module-accordion-container{}
.order-wizard-non-bopis-items-module-multishipto-package{}
.order-wizard-non-bopis-items-module-header-details{}
