/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/



.order-wizard-bopis-package-address-selector{
	@extend .input-generic;
}



.order-wizard-bopis-package-table-container{
	border-bottom:1px solid $sc-color-theme-background;
}

.order-wizard-bopis-package-table{
	width:100%;
	th{
		font-weight:$sc-font-weight-normal;
		padding-bottom:$sc-base-padding * 3;
	}

}

.order-wizard-bopis-package-table-container{
	border-bottom:1px solid $sc-color-theme-background;
}

.order-wizard-bopis-package-products-table{
	@extend .item-views-cell-selectable;
	border-bottom:1px solid $sc-color-theme-background;

	tr:hover{
		background:$sc-color-theme-background-lightest;
	}

	.item-views-cell-selectable-item-unit-price,
	.item-views-cell-selectable-item-details {
		@media (max-width: $screen-lg-min) {
			padding-bottom: 0;
		}
	}

	
	.item-views-cell-selectable-item-unit-price-label,
	.item-views-item-options,
	.item-views-cell-selectable-item-amount-label{
		@media (max-width: $screen-lg-min) {
			display: inline-block;
		}
	}


	.item-views-item-options-container {
		margin-bottom: 0;
	}
	
}

.order-wizard-bopis-package-line-selected{
	background:$sc-color-theme-background-light;
}

.order-wizard-bopis-package-table-col-select{
	@extend .column-type-select;
}


.order-wizard-bopis-package-table-header-qty{
	@extend .column-type-number;
	display:none;
	@media(min-width: $screen-lg-min){
		width:15%;
		display:table-cell;
	}
}

.order-wizard-bopis-package-table-header-unit-price{
	@extend .column-type-number;
	width:15%;
	display:none;
	@media(min-width: $screen-lg-min){
		width:15%;
		display:table-cell;
	}
}

.order-wizard-bopis-package-table-header-amount{
	@extend .column-type-number;
	display:none;
	width:15%;
	@media(min-width: $screen-lg-min){
		width:15%;
		display:table-cell;
	}
}

.order-wizard-bopis-package-address-selected{
	@extend .multishipto-address-selected;
}


.order-wizard-bopis-package-table-header-select{}