.profile-mystore-button-save-store{
  @extend .button-primary;
  @extend .button-medium;
  width: auto;
  margin-top: $sc-small-margin;
}

.profile-mystore-header-icon {
    font-size: $sc-h4-font-size;
    @extend .fa;
    @extend %fa-store;
}

.profile-mystore-header-carret-icon {
    margin-left: $sc-base-margin;
    @extend .fa;
    @extend %fa-angle-down;
}

.profile-mystore-header{
    display: block;
    float: left;
    position: relative;

    .profile-mystore-header-text{
        margin-left: $sc-base-margin;
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    .profile-mystore-header-storename{
        padding-bottom: $sc-base-padding;
    }

    .profile-mystore-header-link{
        @extend %header-link;
        padding: 0 $sc-base-padding * 2;
    }

    @media (max-width: $screen-md-min) {
        display: none;
    }
}

.profile-mystore-header-sidebar{
    display: block;
    float: left;
    position: relative;

    .profile-mystore-header-text{
        margin-left: $sc-base-margin;
    }

    .profile-mystore-header-link{
        @extend %header-link;
        padding: 0 $sc-base-padding * 2;
    }

    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.profile-mystore-header-dropdown{
    display: none;
    position: absolute;
    z-index: 1001;
    background: #FFF;
    padding: $sc-base-padding * 6;
    left: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid $sc-color-theme-border;
    width: 300px;

    &:before {
        position: absolute;
        top: -7px;
        right: 165px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $sc-color-theme-border;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    &:after {
        position: absolute;
        top: -6px;
        right: 166px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $sc-color-tertiary;
        border-left: 6px solid transparent;
        content: '';
    }

    .profile-mystore-button-container{
        margin-top: $sc-base-margin;
    }

    @media (min-width: $screen-md-min) {
        left: -120px;
        &:before {
                right: 145px;
        }
        &:after {
                right: 146px;
        }
    }
}

.profile-mystore-button-choose-store {
    @extend .button-small;
    @extend .button-primary;
    margin-top: $sc-small-margin;

    @media (max-width: $screen-md-min) {
        display: none;
    }
}

.profile-mystore-button-choose-store-pusher{
    @extend .button-small;
    @extend .button-primary;
    margin-right: $sc-small-margin;
    margin-top: $sc-small-margin;
    margin-bottom: $sc-small-margin;

    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.profile-mystore-pushpane-map{
    max-width: $screen-md-min;
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.open .profile-mystore-header-dropdown {
    display: block;
}

.profile-mystore-myaccount-container{
    width: 100%;
    height: 100%;

    .stores-store-locator-details-container {
        width: 100% !important;
    }
    .storelocator-details-map {
        height: 400px !important;
        @media (min-width: $screen-md-min) {
            height: 550px !important;
        }
    }
    .storelocator-header{
        padding: 20px !important;
    }
    .panel-title-store{
        color: $sc-color-primary !important;
    }
}

.pac-container {
    z-index: 1051 !important; //makes the google autocomplete shown above the bs modal
}

.profile-mystore-modal-storelocator{
  @media (min-width: $screen-lg-min) {
      width: 85%;
      max-width: $screen-lg-min;
  }

  @media (min-width: $screen-sm-min) {
      width: 95%;
  }

  .storelocator-mapShow {
    height: 400px !important;
    @media (min-width: $screen-md-min) {
      height: 550px !important;
    }
  }

  .storelocator-header{
    padding: 20px !important;
  }
}