
.thirdpartyshipping-required {
    display: block;
    margin-top: $sc-medium-margin;
}

.thirdpartyshipping-required-marker {
    @extend .input-required;
}

.thirdpartyshipping-line {
    @extend .control-group;
}

.thirdpartyshipping-line-label {
    @extend .input-label;
}

.thirdpartyshipping-line-input {
    @extend .input-large;
}

.thirdpartyshipping-line-select {
    @extend .input-large;
}
