{{# if hasBlogCategories}}
	<h3>{{translate 'Related Blog Posts'}}</h3>
	<div class="item-details-divider-desktop"></div>	    
	    <div data-view="Blog.Items.Views"></div>
	<div class="item-details-divider-desktop"></div>
{{/if}}