/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-relations-related {
	position: relative;
}

.item-relations-related .bx-controls-direction {
    text-align: right;
	margin-bottom: $sc-base-margin * 3;
}
.item-relations-related h3 {
    margin-bottom: $sc-base-margin * 8;
}

.item-relations-related .star-rating {
    margin: 0 auto;
    display: inline-block;
}