<div class="home-slider-container">
    <div class="home-image-slider">
        <ul data-slider class="home-image-slider-list">
            <li>
                <div class="home-slide-main-container" style="background-color: #377bbc;">
                    <a href="/search">
                        <img alt="" src="/assets/images/banners/HomePage-Banner1.png">
                    </a>
                    <div class="home-slide-caption">
                        <h2 class="home-slide-caption-title">FREE 15 Day Trial of PayClock Online</h2>
                        <p>A cloud-based employee Time &amp; Attendance System that works on your time. Anytime. Anywhere.</p>
                        <div class="home-slide-caption-button-container">
                            <a href="http://www.payclock.com/trial" class="home-slide-caption-button">Signup Now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="home-slide-main-container" style="background-color: #377bbc;">
                    <a href="/search">
                        <img alt="" src="/assets/images/banners/HomePage-Banner2.png">
                    </a>
                    <div class="home-slide-caption">
                        <h2 class="home-slide-caption-title">Test nª2/h2>
                        <p>A cloud-based employee Time &amp; Attendance System that works on your time. Anytime. Anywhere.</p>
                        <div class="home-slide-caption-button-container">
                            <a href="http://www.payclock.com/trial" class="home-slide-caption-button">Signup later</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>