/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-header{
	@extend .row;
	margin-bottom: $sc-medium-margin;
}

.login-register-title{
	@extend .col-xs-12;
}

.login-register-body{
	@extend .row;
}

.login-register-body-colored{
	@extend .login-register-body;
	background-color: $sc-color-theme-background;

	padding: $sc-base-padding * 8 $sc-base-padding;

	@media (min-width: $screen-md-min){
		padding: $sc-base-padding * 8 $sc-base-padding * 5;		
	}
}

.login-register-wrapper-column-login,
.login-register-wrapper-column-register{
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.login-register-wrapper-login,
.login-register-wrapper-register{
	@extend .box-column;
}