/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-register-form-description{
	margin-top: $sc-medium-margin;
	margin-bottom: $sc-medium-margin;
}

.login-register-register-form-controls-group{
	margin-top: $sc-medium-margin;
}

.login-register-register-form-label{
	@extend .input-label;
}

.login-register-register-form-required{
	@extend .input-required;
}

.login-register-register-form-input{
	@extend .input-large;
}

.login-register-register-form-submit{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-register-form-messages{
	@extend .form-messages;
}