.field-quickorderqty {
		float: left;
		width: 10%;
	}
.field-quickorderitemid{
		float: left;
		width: 45%;
		margin-right: 10px
	}

#quickorder .amount {
	padding-top: 5px
}
#quickorder .btn-addoneline {
	float: left;
	width: 100px;
	margin: 0
}
@media (max-width: 767px) {
	.field-quickorderqty {
			float: left;
			width: 20%;
		}
	.field-quickorderitemid{
			float: left;
			width: 70%;
			margin-right: 10px
		}
}
@media (min-width: 980px) {
	#quickorder .item-list-navigable .thumbnail {
	width: 10%;
	}
}

@media (min-width: 1200px) {

	#quickorder .thumbnail {
		width: 10%
	}
}
