
$inventory-display-status-color-in-stock: #14892c;
$inventory-display-status-color-limited-stock: #ffd351;
$inventory-display-status-color-out-of-stock: #d04437;

$inventory-display-status-color-limited-stock2: #F99934;

$inventory-display-status-color-font-light: #ffffff;
$inventory-display-status-color-font-dark: #000000;

.inventory-display-bg{
  @include border-radius(8%);
  padding: $sc-base-padding;
}

.inventory-display-bg-in-stock{
  @extend .inventory-display-bg;
  background-color: $inventory-display-status-color-in-stock;
  color: $inventory-display-status-color-font-light;
}

.inventory-display-bg-out-stock{
  @extend .inventory-display-bg;
  background-color: $inventory-display-status-color-out-of-stock;
  color: $inventory-display-status-color-font-light;
}

.inventory-display-bg-limited-stock{
  @extend .inventory-display-bg;
  background-color: $inventory-display-status-color-limited-stock;
  color: $inventory-display-status-color-font-dark
}

.inventory-display-bg-available{
  @extend .inventory-display-bg-in-stock;
}

.inventory-display-bg-not-available{
  @extend .inventory-display-bg-out-stock;
}

.inventory-display-font-in-stock{
  color: $inventory-display-status-color-in-stock;
}

.inventory-display-font-out-stock{
  color: $inventory-display-status-color-out-of-stock;
}

.inventory-display-font-limited-stock{
  color: $inventory-display-status-color-limited-stock2;
}

.inventory-display-font-available{
  @extend .inventory-display-font-in-stock;
}

.inventory-display-font-not-available{
  @extend .inventory-display-font-out-stock;
}

.inventory-display-bg-not-purchasable{
  @extend .inventory-display-bg-limited-stock;
}

.inventory-display-font-not-purchasable{
  @extend .inventory-display-font-limited-stock;
}