.pac-container {
    z-index: 1051 !important; //makes the google autocomplete shown above the bs modal
}

.inventory-display-modal-storelocator{
  @media (min-width: $screen-lg-min) {
      width: 85%;
      max-width: $screen-lg-min;
  }

  @media (min-width: $screen-sm-min) {
      width: 95%;
  }

  .storelocator-mapShow {
    height: 400px !important;
    @media (min-width: $screen-md-min) {
      height: 550px !important;
    }
  }

  .storelocator-header{
    padding: 20px !important;
  }
}