/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-category-browse {
	margin-right: auto;
	margin-left: auto;
	padding-left: $sc-base-padding * 3;
	padding-right: $sc-base-padding * 3;
}

.facets-category-browse-facets {}

.facets-category-browse-navigation {}

.facets-category-browse-header h1 { }

.facets-category-browse-banner-left-top {}

.facets-category-browse-title {}

.facets-category-browse-facets-list-wrapper {}

.facets-category-browse-banner-left-bottom {}

.facets-category-browse-body {}

.facets-category-browse-banner-top {}


#category-list-header {
	display: table;
	padding-bottom: $sc-base-padding * 3;
	margin-bottom: $sc-base-margin * 4;
	border-bottom: $sc-color-theme-border 1px solid;
}
.facets-category-browse-banner-bottom {}

#category-main-image {
	float: left;
	width: 30%;
}
#category-main-description {
	float: left;
	width: 60%;
	margin-left: 20px
}
#category-list-container {
	border-top: $sc-color-theme-border 1px solid;
	margin-top: $sc-base-margin * 3;
}


.category-list-collection-view-row {
	margin-top: $sc-base-margin * 2;
	display: table;

}

.facets-category-cell {
		width: 50%;
		float: left;
		position: relative;
		  min-height: 1px;
		  padding-left: $sc-base-margin * 2;
		  padding-right: $sc-base-margin * 2;
		  text-align: center;
		  margin-bottom: $sc-base-margin * 4

	}

.facets-category-cell-thumbnail {

}
.facets-category-cell-image {
	  width: 100%;
  height: auto;

}

/*
@media (min-width: 992px) {
	.facets-category-browse {
	width: 970px
}
}
@media (min-width: 768px) {
	.facets-category-browse {
	width: 750px;
	}


}
@media (min-width: 1200px) {
	.facets-category-browse {
	width: 1170px;
}
.facets-category-cell {
	width: 25%
}
}*/