/**
 * Store locator SASS
 */
body{
  counter-reset: section;
}
.storelocator-group-store {
    counter-reset: subsection;
    position:relative;
}
.storelocator-group-store:before {
    counter-increment: section;
    content: counter(section, upper-alpha);
    position: absolute;
    z-index: 100;
    right: 21px;
    top: 15px;
    font-size: 13px;
}
.storelocator-storelist{
  padding-top: 20px;
  margin: 20px 0;
  @include clearfix();
  border-top: 1px solid $sc-color-theme-border;
  .storelocator-store{
    margin: 5px 0;
  }
}
#storelocator{
  .storelocator-header{
    background: #F2F7FB;
    padding: 30px;
    h3{
      padding: 30px 0 10px;
      color:#000;
    }
    label{
      font-weight: bold;
    }
    .storelocator-input{
      margin: 10px 0 0;
    }
  }

  .storelocator-content{
    width:100%;
    padding: 10px 0;
    margin: 0;
    .storelocator-map-view{
      @extend .col-md-9;
      margin:0;
      padding:0;
      .storelocator-map{
        width: auto; 
        margin: 0;
        padding:0;
      }

      .storelocator-mapShow{
        height: 400px;
        @media (min-width: $screen-md-min) {
          height: 720px;
        }
      }
    }

    .storelocator-list-stores{
      @extend .col-md-3;
      padding: 0 10px 0 0;
      margin: 0;
      .storelocator-list-header{
        @extend small;
        padding: $sc-base-padding $sc-base-padding * 3;
        border-bottom: 1px solid $sc-color-theme-light;
      }
      .storelocator-navigation-list-wrapper{
        max-height: 472px;
        overflow: hidden;
        &:hover {
          overflow-y: scroll;
        }
        ul li h4{ cursor: pointer; }

        .storelocator-group-store{
          padding: $sc-base-padding $sc-base-padding * 3;
          .storelocator-group-store-title{
            font-size: $sc-base-font-size;
            display:block;
            padding: $sc-base-padding * 2 0;
            .storelocator-list-store-geolocation{
              position: absolute;
              right: 0;
              top: 5px;
            }

            .storelocator-group-store-button{
              @extend .button-tertiary;
              @extend .button-small;
            }
          }      
        }
      }
    }
  }
}

#stores-store-locator-details{
  .col{
    @extend .clearfix;
    padding: 10px 0;
  }

  .stores-store-locator-map-placeholder{
    margin-top: 0;
  }

  .travelMode{
    @extend .button-tertiary;
    @extend .button-small;
    border: none;
    &:hover{
      background: $sc-color-primary-hover;
      color: #FFF;
    }

    i{
      color: $sc-color-secondary;
      font-size: $sc-navigation-icon-size - 8;
      @extend .fa;
    }
    .driving-icon{
      @extend %fa-car;
    }
    .transit-icon{
      @extend %fa-bus;
    }
    .bicycling-icon{
      @extend %fa-bicycle;
    }
    .walking-icon{
      @extend %fa-child;
    }
  }

  .active{
    background: $sc-color-primary-active;
    border: none;
    i{
      color: #FFF !important;
    }
  }

  #directions{
    display: block;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 320px;
    overflow-x: auto;

    .adp-text{
      vertical-align: center !important;
    }
  }

  .infoWinWidth{
    display: none;
  }

  #map{
    margin:0;
    padding:0;
    img{
      max-width: none !important;
    }
    .storelocator-details-map{
      width: auto;
      height: 400px;
      margin: 0;
      padding:0;
      @media (min-width: $screen-md-min) {
        height: 720px;
      }
    }
  }
}

@media print {
  /* hide anything */
  .print-hide, header, footer {
    display: none;
  }
  #storelocator-map-placeholder{
    width: 900px !important;
    height: 600px !important;
    margin: auto !important;
    display: block !important;
  };

  #directions{
    max-height: none !important;
    display: block !important;
  };
}

.storeSection {
  position: relative;
}

.storelocator-button{
  @extend .button-small;
  margin-right: $sc-base-margin * 2;
}

.storelocator-submit{
  @extend .button-secondary;
}
.storelocator-geolocate{
  @extend .button-primary;
}

.storelocator-highlighted {
  background-color: $sc-color-theme-background;
  .stores-store-locator-navigation-list-group-address {
    color: $sc-color-theme;
  }
}    

input{
  @extend .input-small;
}

.labelMarker{
  color: #FFF;
}

.storelocator-search{
  width: 300px;
}

.button{
  @extend .button-tertiary;
  @extend .button-small;
  margin-right: 20px;
}

#printDirection{
  display: none;
}