/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-cart-summary-accordion-head{
	@extend .accordion-head;
}

.order-wizard-cart-summary-accordion-head-toggle{
	@extend .accordion-head-toggle;
}

.order-wizard-cart-summary-accordion-toggle-icon{
	@extend .accordion-toggle-icon;
}

.order-wizard-cart-summary-accordion-body{
	@extend .accordion-body;

	td{
		text-align: left;
	}

	td.item-view-cell-navigable-item-unit-price{
		display: none;
	}

	.item-view-cell-navigable-item-image{
		padding-left: 0;
		width: 25%;
	}
}	

.order-wizard-cart-summary-accordion-container{
	@extend .accordion-container;
}

.order-wizard-cart-summary-edit-cart-link{
	font-size:$sc-base-font-size;
}

.order-wizard-cart-summary-edit-cart-label{
	margin:-$sc-base-margin * 4;
	margin-bottom:$sc-base-margin * 3;
	padding: $sc-base-padding * 3 $sc-base-padding * 4;
	border-bottom:1px solid $sc-color-theme-background;
}

.order-wizard-cart-summary-edit-cart-label-mst{
	margin-bottom:$sc-base-margin * 3;
	padding: 0 $sc-base-padding * 3 $sc-base-padding * 3 $sc-base-padding * 3;
	border-bottom:1px solid $sc-color-theme-background;
}

.order-wizard-cart-summary-order-message{
	
	display: none;
	@media(min-width: $screen-sm-min){
		display: block;
		margin-bottom:$sc-small-margin;
	}
}

/* Summary Styles */

.order-wizard-cart-summary-title{
	@extend .summary-title;
}

.order-wizard-cart-summary-container{
	@extend .summary-container;
}

.order-wizard-cart-summary-subtotal{
	@extend .summary-subtotal;
	margin-bottom: $sc-base-margin * 4;
}

.order-wizard-cart-summary-total{
	p{
		@extend .summary-total;
	}
}

.order-wizard-cart-summary-grid-right{
	@extend .summary-grid-right;
}

.order-wizard-cart-summary-grid-float{
	@extend .summary-grid-float;
}

.order-wizard-cart-summary-tax-total-formatted{
	@extend .order-wizard-cart-summary-grid-right;
}

.order-wizard-cart-summary-handling-cost-formatted{
	@extend .order-wizard-cart-summary-grid-right;
}

.order-wizard-cart-summary-shipping-cost-formatted{
	@extend .order-wizard-cart-summary-grid-right;
}

.order-wizard-cart-summary-discount-total{
	@extend .order-wizard-cart-summary-grid-right;
}

.order-wizard-cart-summary-discount-rate{
	@extend .order-wizard-cart-summary-grid-right;	
}
.order-wizard-cart-summary-message {
	p {
		@extend .summary-grid-float;
	}
}
.order-wizard-cart-summary-products-scroll{
	@media (min-width: $screen-sm-min){
		max-height:570px;
		overflow-y:auto;
		overflow-x:hidden;	
	}
	.item-view-cell-navigable-item-quantity-label {
		display: inline-block;
	}
}

.order-wizard-promocode-tooltip{
	@extend .sc-tooltip;
}

.order-wizard-cart-summary-button-container{
	@extend .col-xs-12;	
	background:$sc-color-theme-background;
	padding:$sc-base-padding * 3;
	margin-bottom:$sc-small-margin;	
	display:none;

	@media (min-width: $screen-sm-min) {		
		display:block;
	}	
}

.order-wizard-cart-summary-button-place-order{
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
}

/* Promo Code */

.order-wizard-cart-summary-promocode{
	clear:both;
	display:block;
	overflow:hidden;
	margin-bottom:$sc-small-margin;

	@media(min-width: $screen-sm-min){
		margin-bottom:$sc-medium-margin;
	}
}

.order-wizard-cart-summary-promocode-expander-head{
	@extend .accordion-head-secondary;
}

.order-wizard-cart-summary-promocode-expander-head-toggle{
	@extend .accordion-head-toggle-secondary;
}

.order-wizard-cart-summary-promocode-expander-toggle-icon{
	@extend .accordion-toggle-icon-secondary;	
}

.order-wizard-cart-summary-promocode-expander-body{
	@extend .accordion-body-alt;	
}

.order-wizard-cart-summary-promo-code-applied{
	@extend .summary-grid-float;
	margin-bottom:0px;
}
.order-wizard-cart-summary-giftcertificate-title {
	@extend .order-wizard-cart-summary-grid-float;
}
.order-wizard-cart-summary-giftcertificate-grid-float {
	@extend .order-wizard-cart-summary-grid-float;
	padding-right:$sc-base-padding * 3;
}

.order-wizard-cart-summary-giftcertificate-applied {
	padding-bottom: $sc-base-padding * 2;
}

.order-wizard-cart-summary-giftcertificate-applied{
	.cart-summary-gift-certificate-cell {
		padding-left:$sc-base-padding * 3;
	}
}

.order-wizard-cart-summary-remove-container{
	@extend .icon-container-info;
}


.order-wizard-cart-summary-remove-icon{
	@extend .icon-remove;
}

.order-wizard-cart-summary-promocode-tooltip{
	@extend .order-wizard-promocode-tooltip;
}

.order-wizard-cart-summary-body{}
.order-wizard-cart-summary-subtotal-label{}
.order-wizard-cart-summary-promocode-applied{}
.order-wizard-cart-summary-discount-applied{}
.order-wizard-cart-summary-promocode-expander-container{}
.order-wizard-cart-summary-promocode-unsupported-summary-warning{}
.order-wizard-cart-summary-shipping-cost-applied{}