/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-reviews-form {
  @extend .container;
}
.product-reviews-form-item-cell {
    @extend .row;
    margin-top: $sc-base-margin * 2;
    .facets-item-cell-list-left {
        @extend .col-xs-12;
        @extend .col-md-10; 
        margin-bottom: $sc-base-margin * 3;
        @media (min-width: $screen-md-min){
            @extend .col-md-2;
            @extend .col-xs-2;
            margin-bottom: $sc-base-margin * 6;
        }
    }
    .facets-item-cell-list-right{
        @extend .col-xs-8;  
        @extend .col-md-12;       
    }
    .facets-item-cell-list-title {
        padding-top: 0;
        a {
            @extend .medium-title-navigable;
        }
        span {
            text-transform: uppercase;
            font-weight: 600;
            color: $sc-color-dark-copy;
            font-size: 16px;
        }
    } 

    @media (min-width: $screen-md-min){
        margin: 0;
        padding-left: 0;
        @extend .col-md-3; 
    }
    [data-view="ItemDetails.Options"], 
    [data-view="ItemViews.Stock"], 
    .item-views-price,
    .facets-item-cell-list-quick-view-link,
    .item-cell-rating {
        display: none;
    }
}
.product-reviews-form-content {
    @extend .row;
    background: $sc-color-theme-background-light;
    padding: 0;

    @media (min-width: $screen-md-min){
        margin: 0;
        @extend .col-md-9; 
    }
}
.product-reviews-form-new {
    padding: $sc-base-padding * 6 $sc-base-padding * 3 0;
    .star-rating-label {
        font-weight: $sc-font-weight-normal;
        margin-bottom: $sc-base-margin;
        font-size: 14px;
    }
    .star-rating-empty-pegs {
        @extend .star-rating-pegs-medium;
    }
    .star-rating-empty-pegs-error {
        @extend .star-rating-pegs-medium;
    }
    .star-rating-area-writable-pegs{
        top: 0;
    }

   .star-rating-area-writable-pegs button {
        width: 40px;
        height: 20px;
        margin-right: 4px;
    }

    .star-rating-area-writable-pegs button:last-child {
        margin-right: 0;
    }
    .star-rating {
        display: inline-flex;
        margin-bottom: $sc-base-margin * 4;
    }
    [data-view="Global.StarRating"] {
        .star-rating-label {
           display: none;
        }
        .star-rating-empty, .star-rating-filled, .star-rating-error {
            font-size: 35px;
        }
        .star-rating-empty {            
            @extend %fa-star-o;
        }
        .star-rating-error {
            @extend %fa-star-o;
        }
        .star-rating-area {
            margin-bottom: $sc-base-margin;
        }
        button {
            width: 32.5px;
            height: 34px;
            position: relative;
            float: none;
            top: 0;
        }
        .star-rating-area-writable-pegs button {
            width: 40px;
            height: 20px;
        }
    }
}
.product-reviews-form-content-title{
    @extend .input-label;
    margin-top: $sc-base-margin * 4;
}
.product-reviews-form-content-label-required {
    @extend .input-optional;
    display: block;
}
.product-reviews-form-content-required {
    @extend .input-required;
}
.product-reviews-form-content-rating {
    @extend .clearfix;
}
.product-reviews-form-content-group {
    clear: both;
    padding: 0;

    .product-reviews-form-help {
        margin-top: $sc-base-margin;
        margin-bottom: $sc-base-margin;
    }
}
.product-reviews-form-content-groups {
    padding:0;
    float: left;
    clear: both;
    margin-bottom: $sc-base-margin * 3;

    @media (min-width: $screen-md-min){
        margin-bottom: $sc-base-margin * 4;
        clear: both;
        @extend .col-md-8;
    }
}
.product-reviews-form-content-group-label {
    @extend .input-label;
    display: inline-block;
    margin-top: $sc-base-margin * 4;
    margin-bottom: $sc-base-margin;
}
.product-reviews-form-content-group-input {
    @extend .input-generic;
    margin-bottom: $sc-base-margin;
}
.product-reviews-form-content-group-text {
    @extend .input-textarea;
    min-width: 100%;
    max-width: 294px;
    min-height: 105px;
}
.product-reviews-form-help {
    @extend .input-optional;
}
.product-reviews-form-actions {
    @extend .row;
    padding: $sc-base-margin * 6 $sc-base-margin * 3;
    background: #FFF;
    clear: both;

    @media (min-width: $screen-md-min){
        padding: $sc-base-margin * 6 0;
    }
}
.product-reviews-form-actions-button-submit {
    @extend .button-large;
    @extend .button-primary;
    margin-bottom: $sc-base-margin * 2;
}
.product-reviews-form-actions-button-preview {
    @extend .button-secondary;
    @extend .button-large;
    margin-bottom: $sc-base-margin * 2;
    margin-left: 0;

    @media (min-width: $screen-sm-min){
        margin-left: $sc-base-margin * 2;
    }
}

.product-reviews-form-divider-desktop{
    @extend .item-details-divider-desktop;
}
.product-reviews-form-actions-button-back {
    @extend .button-tertiary; 
    @extend .button-large; 

    @media (min-width: $screen-sm-min){
          float: right;
    }
}
.product-reviews-form-divider{
    @extend .item-details-divider;
}

.product-reviews-form-controls{}
