/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-reviews-preview-review {
    padding: 0;

    h4 {
        margin-bottom: $sc-base-margin * 4;
    }
}
.product-reviews-preview-review-title {
    @extend .product-reviews-form-content-title;
}
.product-reviews-preview-review-rating {
    padding: $sc-base-padding * 6 $sc-base-padding * 3 0;

    [data-view="Global.StarRating"] {
        .star-rating-label {
            display: none;
        }
        .star-rating-area {
            margin-bottom: $sc-base-margin * 4;
            font-size: 20px;
            letter-spacing: 2px;
        }
        .star-rating-label-visible {
            font-weight: $sc-font-weight-semibold;
            margin-top: $sc-base-margin;
            width: 90px;
            float: left;
            font-size: 14px;
        }
    }
    .star-rating {
        display: inline-flex;
        margin-bottom: $sc-base-margin * 4;
    }
    .star-rating-empty-pegs {
      display: inline-block;
      background: $sc-color-star-empty-disable;
      border: 2px solid $sc-color-theme-border;

      @extend .star-rating-pegs-small;
    }
    .star-rating-filled-pegs {
      @extend .star-rating-empty-pegs;
      background: $sc-color-secondary;  
      border: 2px solid $sc-color-secondary;  
    }
}
.product-reviews-preview-review-content {
    padding: 0 $sc-base-padding * 3 $sc-base-padding * 6;
    clear: both;
}
.product-reviews-preview-review-content-username {
    font-weight: 600;
    margin-bottom: $sc-base-margin * 4;
    span {
        font-weight: 400;
        color: $sc-color-primary;
    }
 
}
.product-reviews-preview-review-icon-ok-sign{
    @extend .icon-ok-sign;
}

.product-reviews-preview-review-content-description{
    p {
        word-wrap: break-word;
    }
}