/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-reviews-form-preview {
  @extend .product-reviews-form;
}
.product-reviews-review-title{
    @extend .product-reviews-form-content-title;
}
.product-reviews-form-preview-content-label-required {
    @extend .product-reviews-form-content-label-required;
}
.product-reviews-form-preview-content-required {
    @extend .product-reviews-form-content-required;
}
.product-reviews-form-preview-content-group {
    @extend .product-reviews-form-content-group;
}
.product-reviews-form-preview-content-groups {
    @extend .product-reviews-form-content-groups;
}
.product-reviews-form-preview-content-group-label {
    @extend .product-reviews-form-content-group-label;
}
.product-reviews-form-preview-content-group-input {
    @extend .product-reviews-form-content-group-input;
}
.product-reviews-form-preview-content-group-text {
    @extend .product-reviews-form-content-group-text;
}
.product-reviews-form-preview-help {
    @extend .input-optional;
}
.product-reviews-form-preview-actions {
    @extend .product-reviews-form-actions;
}
.product-reviews-form-preview-actions-button-submit {
    @extend .product-reviews-form-actions-button-submit;
}
.product-reviews-form-preview-actions-button-edit {
    @extend .product-reviews-form-actions-button-preview;
}

.product-reviews-center-list .backbone-collection-view-row {
	margin: 0;
}
.reviews-comments{
	clear:both;
	display:block;
	overflow:hidden;
}
.product-reviews-review-comment-item-cell{
	text-align:left;
}
.product-reviews-review-comment-item-cell-date{
	font-size:$sc-smallest-font-size;
	color:$sc-color-theme;
}
.product-reviews-review{
	padding:$sc-base-padding * 4 0;

	@media (min-width: $screen-sm-min){
		padding:$sc-base-padding * 4 0px $sc-base-padding * 2 0px;
	}
	h5 {
		text-transform:uppercase;
	}
}
[data-action="sc-pushing"] .product-reviews-review{
	padding:$sc-base-padding * 4 0 0;

}
.comment-username {
	margin-bottom: $sc-base-margin * 4;	
}
.comment-username-icon-verified {
	@extend .icon-ok-sign;
}
.product-reviews-review-review {
	clear:both;
	display:inline-block;
	width: 100%;
}
.product-reviews-review-review-description {
	@extend .col-sm-8;
	@extend .col-xs-12;
	padding-left: 0;
	padding-right: 0;
}
.product-reviews-review-review-rating {
	@extend .col-sm-4;
	@extend .col-xs-12;
	padding-left: 0;
	padding-right: 0;
	.product-review-rating-per-attribute {
		@media (min-width: $screen-sm-min){
			float: right;
		}
	}
}
.product-review-comment-description-rating {
	@extend .col-sm-3;
	@extend .col-xs-12;
	padding-left: 0;
	padding-right: 0;
}
.product-review-comment-footer{
	margin: $sc-base-margin * 4 0;
	p {
		color:$sc-color-secondary-hover;
		font-weight: $sc-font-weight-semibold;
		margin-bottom: $sc-base-margin * 2;
	}
}
.product-review-comment-footer-button {
	@extend .button-tertiary;
	@extend .button-small;
	margin-right: $sc-base-margin * 2;
}

.product-reviews-review-icon-ok-sign{
	@extend .icon-ok-sign;
}

.product-reviews-review-rating-per-attribute{
	@extend .product-review-rating-per-attribute;
}

.product-reviews-review-comment-footer{
	@extend .product-review-comment-footer;
}

.product-reviews-review-comment-footer-button{
	@extend .product-review-comment-footer-button;
}

.product-reviews-review-comment-username{
	@extend .comment-username;
}

