/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

[data-action="sc-pushing"] .product-reviews-center {
  padding: 0;

  @media (min-width: $screen-sm-min){
    padding: $sc-base-padding * 4;
  }
}
.product-reviews-center-container{
  clear:both;
  display:block;
  overflow:hidden;
  background: $sc-color-theme-background-light;
  padding:$sc-base-padding * 4;
  margin-top:-$sc-base-margin * 4;

  @media (min-width: $screen-sm-min){
    border-bottom:1px solid $sc-color-theme-border;
    margin-top:0;
  }
}
[data-action="sc-pushing"] .product-reviews-center-review-container {
  margin: 0 -20px;
  padding: 20px;
  background: #FFF;  
  border-top:1px solid $sc-color-theme-border;
}
[data-action="sc-pushing"] .product-reviews-center-container {
  padding: $sc-base-padding * 4 0;
}
.product-reviews-center-container-header{
  @extend .col-xs-12;
  @extend .col-sm-12;
  @extend .col-md-12;
  @extend .col-lg-12;
  padding: 0 0 $sc-base-padding * 3;

  @media (min-width: $screen-sm-min){
    padding: $sc-base-padding * 3;
  }
}
.product-reviews-center-container-header-title {
  margin-bottom: $sc-base-margin * 2;
}
.product-reviews-center-container-header-number {
  margin-bottom: $sc-base-margin * 2;
}
.product-reviews-center-container-wrapper{
  @extend .col-lg-7;
  @extend .col-md-7;
  @extend .col-sm-7;
  @extend .col-xs-12;
  padding:0px;
}
.product-reviews-center-container-footer{
  @extend .col-xs-12;
  @extend .col-sm-12;
  @extend .col-md-12;
  @extend .col-lg-12;
  margin-top: $sc-base-margin * 4;
  padding:0;

  @media (min-width: $screen-sm-min){
      padding: 0 $sc-base-padding * 3;
      margin:0;
  }
} 
.product-reviews-center-container-footer-button {
  @extend .button-secondary;
  @extend .button-medium;
  width:100%;
  text-align: center;

  @media (min-width: $screen-sm-min){
    width: auto;
  }
}
.product-reviews-center-container-button {
  @extend .button-secondary;
  @extend .button-small;
  text-align: center;
  margin-left: $sc-base-margin * 2;

  @media (min-width: $screen-sm-min){
    width: auto;
  }  
}
[data-pusher="sc-pushable-xs"] .product-reviews-center-list .backbone-collection-view-row {
  @extend .row;
}
.product-reviews-center-list {
  margin-top: $sc-base-margin * 3;
}

.product-reviews-center-review-container{

}

.product-reviews-center-footer{}