/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-title {
	display: none;

	@media (min-width: $screen-md-min) {
		font-size: $sc-h3-font-size;
		font-weight: $sc-font-weight-semibold;
		text-align: left;
		display: block;
		padding-top: $sc-base-padding * 2;
		padding-right: $sc-base-padding * 3;
		padding-left: $sc-base-padding * 3;
		line-height: normal;
	}
}


.facets-faceted-navigation-facet-group-expander {
	display:block;
	padding: $sc-base-padding * 2 0;
	border-bottom: 1px solid $sc-color-theme;
}
