/* variables with unicode ref */
$fa-var-store: "\f400";
$fa-var-shipping: "\f401";
$fa-var-truckface: "\f402";

/* class using content property to inject glyph into element */
%#{$fa-css-prefix}-store:before { content: $fa-var-store; }
%#{$fa-css-prefix}-shipping:before { content: $fa-var-shipping; }
%#{$fa-css-prefix}-truckface:before { content: $fa-var-truckface; }