/*
    © 2016 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.blog-navigation-item-icon-ok {
    @extend .fa;
    @extend .fa-plus;
}

.blog-navigation-item-icon-plus {
    @extend .fa;
    @extend .fa-plus;
}

.blog-navigation-item-optionlist-extra-button {
    @extend .button-tertiary;
    @extend .button-small;
}

.blog-navigation-item-optionlist-extra-wrapper {}

.blog-navigation-item-facet-group {
    @extend .facets-faceted-navigation-facet-group;
}

.blog-navigation-item-facet-group-expander {
    @extend .facets-faceted-navigation-facet-group-expander;
}

.blog-navigation-item-facet-group-expander-icon {
    @extend .facets-faceted-navigation-facet-group-expander-icon;
}

.blog-navigation-item-facet-group-wrapper {}

.blog-navigation-item-facet-group-content {}

.blog-navigation-item-facet-optionlist {}

.blog-navigation-item-facet-optionlist-extra {}

.blog-navigation-item-facet-group-title {
    @extend .facets-faceted-navigation-facet-group-title;
}

.blog-navigation-item-facet-option {
    @extend .facets-faceted-navigation-facet-option;
}

.blog-navigation-item-facet-option-circle {
    @extend .facets-faceted-navigation-facet-option-circle;
}

.blog-navigation-item-filter-delete {}

.blog-navigation-item-filter-delete-icon {}

.blog-navigation-item-alt-caption {
    display:none;
}

.blog-navigation-item-facet-multi {
    @extend .input-checkbox;
}