.bopis-map-placeholder-sm{
    width: 250px;
}

.bopis-map-placeholder-md{
    width: 430px;
}

.bopis-storedetail-map-placeholder{
  height: 270px;
  .storelocator-map {
    width: auto;
    margin: 0;
    padding: 0;
       height: 400px;
  }

  .storelocator-mapShow {
    height: 270px;
  }

  margin: 0;
  padding: 0;
  img {
    max-width: none !important;
  }
  .storelocator-details-map {
    width: auto;
    height: 270px;
    margin: 0;
    padding: 0;
  }
}

.bopis-storedetail-placeholder{
  margin-top: $sc-small-margin;
  margin-bottom: $sc-medium-margin;
  & > div{
    display: inline-block;
    vertical-align: top;
  }
  .bopis-storedetail{
    width: 200px;
  }

  .bopis-storedetail-storename{
    color: $sc-color-primary !important;
    font-weight: bold;
    margin-bottom: $sc-base-margin;
  }

  .bopis-storedetail-address,
  .bopis-storedetail-phone,
  .bopis-storedetail-openinghours{
    margin-bottom: $sc-base-margin;
  }

}