.bopis-faqs-container {
  @extend .container;
}

.bopis-faqs-panel-body {
  & li {
    margin-left: $sc-medium-margin * 2;
    list-style-type: disc;
  }
  & .bopis-faqs-panel-title {
    font-weight: normal;
  }
}

.bopis-faqs-toggle-icon {
  @extend .icon-base;
  @extend %fa-angle-down;
  @include transition-transform(300ms ease);
  float: right;
  margin-top: -1px;
}

.bopis-faqs-link-toggle-accordion {
  background-color: none;
  $sc-color-link: #2f9ac3
}

.bopis-faqs-link-toggle-accordion:hover{
  $sc-color-link-hover: lighten($sc-color-link, 10);
}

.collapsed .bopis-faqs-toggle-icon {
  @include rotate(180deg);
}

.bopis-faqs-panel-heading {
  border: 1px solid;
  margin-top: -1px;
  padding: $sc-base-padding * 3;
  cursor: pointer;
}

.bopis-faqs-panel-collapse{
  border: 1px solid $sc-color-secondary;
  padding: $sc-base-padding * 3;
}

.bopis-faqs-panel-border{
  @extend .medium-title-navigable;
  display:block;
  line-height:1em;
  padding: $sc-base-padding * 4;
  background-color: $sc-color-theme-background-light;
  border-bottom: 1px solid $sc-color-theme-border;
  cursor: pointer;
  text-transform: uppercase;
}

.bopis-faqs-submenu{
  border-bottom: 1px solid  $sc-color-theme-border;
  padding-top: $sc-base-padding * 2;
  padding-bottom: $sc-base-padding * 2;

  .bopis-faqs-submenu-sub{
    background-color: #fff;
    padding: $sc-base-padding * 2;
    font-size: $sc-base-font-size;
    text-transform: none;
    font-weight: normal;
    padding: $sc-base-padding *2 $sc-base-padding * 4;
    border-bottom:none;
  }
}