/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.case-list {
    @media (min-width: $screen-sm-min) {
        .case-list-list-header-container {
            clear: both;
        }
    }
}
.case-list-header {
    @extend .list-header;
    position: relative;
    margin-bottom: $sc-base-padding * 3;
    display: inline-block;
    width: 100%;
}
.case-list-title {
    @extend .list-header-title;
    float: left;
}
.case-list-header-button-new {
    @extend .list-header-button;
    margin-top: $sc-base-padding * 4;
    position: absolute;
    top: 25px;
    right: 0;

    @media (min-width: $screen-sm-min) {
        margin-top: 0;
        top: 0;
        margin-bottom: $sc-base-padding * 3;
    }
}

.case-list-paginator {
    float: right;
    margin-top: $sc-base-padding * 3;

    .case-list-global-views-pagination,
    .case-list-global-views-current-page {
        float: right;
    }
    .case-list-global-views-current-page {
        margin-top: $sc-base-padding * 2;
        margin-right: $sc-base-padding * 3;
    }
}


.case-list-content-table {
    @extend .recordviews-row-header;
}

.case-list-content-table-header-row {
    @extend .recordviews-table;
}

.case-list-content-table-header-row-title {
    @extend .recordviews-header;
    width: 20%;
}
.case-list-content-table-header-row-subject {
    @extend .recordviews-header;
    width: 15%;
}
.case-list-content-table-header-row-creation-date {
    @extend .recordviews-date-header;
    width: 20%;
}
.case-list-content-table-header-row-date {
    @extend .recordviews-date-header;
    width: 25%;
}
.case-list-content-table-header-row-status {
    @extend .recordviews-status-header;
    width: 20%;
}

.case-list-results-container
{
    @media (min-width: $screen-md-min) {

        .recordviews-title {
            width: 20%;
        }

        .recordviews-subject {
            width: 15%;
        }
        .recordviews-creation-date {
            width: 20%;
            text-align: right;
        }
        .recordviews-date {
            width: 25%;
        }

        .recordviews-status {
            width: 20%;
        }
    }
}

.case-list-button-back {
    @extend .button-back;
}

.case-list-button-back-icon {
    @extend .button-back-icon;
}

.case-list-empty {
    @extend .list-empty;
}

.case-list-header {
    @extend .list-header;
}
.case-list-title {
    @extend .list-header-title;
}
.case-list-content-table {
    @extend .recordviews-actionable-navigable-header
}
.case-list-content-table-header-row {
    @extend .recordviews-actionable-navigable-table;
}
.case-list-content-table-header-row-title {
    @extend .recordviews-actionable-navigable-title-header;
}
.case-list-content-table-header-row-subject {
    @extend .recordviews-actionable-navigable-subject-header;
}
.case-list-content-table-header-row-detail1 {
    @extend .recordviews-actionable-navigable-detail1-header;
}
.case-list-content-table-header-row-detail2 {
    @extend .recordviews-actionable-navigable-detail2-header;
}
.case-list-content-table-header-row-status {
    @extend .recordviews-actionable-navigable-actions-header;
}

.case-list-confirm-message{
    @extend .confirm-message;
}

.case-list-recordviews-table{
    @extend .recordviews-table;
}