/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

[data-type="sticky"].sticked {
	@media (max-width: $screen-xs) {
		visibility: hidden;
	}
}

.sticky-button-container-clone {
	display: none;

	@media (max-width: $screen-xs) {
		&.sticked {
			display: block;
			position: fixed;
			top: 0px;
			width: 100%;
			z-index: 99;
			margin-left: -15px;
			background-color: white;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
		}
	}
}