/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-empty {
 	@extend .container;
 	position: relative;
}

.facets-empty-title {
	margin-top: $sc-medium-margin;
	margin-bottom: $sc-base-margin * 3;
}

.facets-empty-merchandising-zone {
    margin-bottom: $sc-base-margin * 3;
    margin-top: $sc-base-margin * 3;
}