/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Breadcrumb
// 
// Markup:
// <div class="breadcrumb">
// 	<ul>
// 		<li class="breadcrumb-item"><a href="#">Home</a></li> <span class="breadcrumb-divider">/</span>
// 		<li class="breadcrumb-item"><a href="#">Category</a></li> <span class="breadcrumb-divider">/</span>
// 		<li class="breadcrumb-item">Item</li>
// 	</ul>
// </div>
// 
// Styleguide 11.10

.breadcrumb{
	
	display:none;

	@media(min-width: $screen-md-min){
		clear:both;
		margin-bottom: $sc-large-margin;
		display:block;
	}
}

.breadcrumb-divider{
	display:inline;
	padding:0px $sc-base-padding;
}

.breadcrumb-item{
	display:inline;
}

.breadcrumb-item-active{
	@extend .breadcrumb-item;
	color: $sc-color-primary;
}