/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quick-view-confirmation-modal {
	@extend .row;
}
.quick-view-confirmation-modal-img {
	@extend .col-sm-5;
	margin-bottom: $sc-base-margin * 3;
	
	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	} 
}
.quick-view-confirmation-modal-details {
	@extend .col-sm-7;
	.item-view-stock-msg {
		display: table;
	}
}
.quick-view-confirmation-modal-full-details {
	margin: $sc-base-margin 0 $sc-base-margin * 3;
	display: block;
}
.quick-view-confirmation-modal-price {
	@extend .cart-confirmation-modal-price;
	
	.item-view-lead-price {
		@extend .large-price;
	}
}
.quick-view-confirmation-modal-sku{
	@extend .cart-confirmation-modal-sku;
}
.quick-view-confirmation-modal-quantity {
	.item-details-options-quantity {
		margin-top: 0;
	}
}
.quick-view-confirmation-modal-actions {
	margin: 0;
}
.quick-view-confirmation-modal-add-to-cart{
	@extend .cart-confirmation-modal-view-cart;
}
.quick-view-confirmation-modal-add-to-product-list {
	@extend .cart-confirmation-modal-continue-shopping;
	.product-list-control-button-wishlist {
		margin-top: 0;
	}
}
.quick-view-confirmation-modal-add-to-product-list .add-to-product-list-button {
	@extend .add-to-product-list-button;
	@extend .button-medium;
}
.quick-view-confirmation-modal-view-cart-button {
	@extend .button-large;
	@extend .button-primary;
	width: 100%;
}