/**
 * Gift Wrap SASS
 */
#custcol_ef_gw_giftwrap, #in-modal-custcol_ef_gw_giftwrap{
  @extend .facets-item-list-show-selector;
  padding-right: 25px;
  width: 300px;
}
.item-views-option-gift-wrap-message, .item-views-option-dropdown-gift-wrap{
    p{
        font-weight: bold;
        margin: 10px 0;
    }
    span{
        font-weight: normal !important;
    }
    margin-bottom: 10px;
}
.item-views-cell-actionable-selected-options-cell,
.item-views-selected-option{
    margin: 5px 0;
}
.item-views-selected-option-label{
    font-weight: bold;
    color: #000;
}