<div class="contact-us-image row-fluid">
    <div class="span4">
        <h3>Questions?</h3>
        <p>Please fill out the form or call us toll free at:</p>
        <p><a href="#">1-800-992-9922</a></p>
    </div>
    <div class="span8">
        <div class="form-wrap">
            <form id="contact-us-form" action="https://forms.na1.netsuite.com/app/site/crm/externalleadpage.nl?compid=TSTDRV1179634&formid=3&h=67aa3c807d9845129f2b" method="POST">
                <fieldset>
                    <label>First Name:</label>
                    <input id="firstname" name="firstname" maxlength="300" size="25" type="text">
                    <label>Last Name:</label>
                    <input id="lastname" name="lastname" maxlength="300" size="25" type="text">
                    <label>Email:</label>
                    <input id="email" maxlength="254" name="email" class="inputreq" size="-1" type="text">
                    <label>Message Title:</label>
                    <input id="custentity_title" maxlength="300" name="custentity_title" class="inputreq" size="25" type="text">
                    <label>Message:</label>
                    <textarea name="comments" id="comments" rows="4" class="inputreq textarea"></textarea>
                    <label></label>
                    <button type="submit" class="btn btn-primary">Submit</button>


                    <script>
                        if (SC.ENVIRONMENT.jsEnvironment === "browser") {
                            jQuery(document).ready(function () {
                                jQuery('#contact-us-form').validate({
                                    rules: {
                                        email: {
                                            required: true,
                                            email: true
                                        },
                                        firstname: {
                                            required: true
                                        },
                                        lastname: {
                                            required: true
                                        },
                                        custentity_title: {
                                            required: true
                                        },
                                        comments: {
                                            required: true
                                        }
                                    }
                                });
                            });
                        }
                    </script>
                </fieldset>
            </form>
        </div>
    </div>
</div>