<a href="/demo-category"><img src="/assets/images/content/slider/slider1.jpg" /></a>
<a href="/demo-category2"><img src="/assets/images/content/slider/slider2.jpg" /></a>
<a href="/search"><img src="/assets/images/content/slider/slider3.jpg" /></a>