/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.home {
    @extend .container;
}

.home-banner-top-message {
    background-color: $sc-color-extra;
    color: $sc-color-primary;
    font-family: 'Oswald', sans-serif;
    font-size: $sc-h3-font-size;
    text-align: center;
}

.home-image-slider .bx-wrapper img {
    @media (min-width: $screen-sm-min) {
        margin: 0 $sc-base-margin * 0 0 0;
        width: auto;
    }
}

.home-gallery-prev-icon,
.home-gallery-next-icon {
    top: 30%;
}

.home-banner-main-cell-text {
    color: $sc-color-secondary;
}

.home-slide-caption {
    top: 170px;
    @media (min-width: $screen-sm-min) {
        position: absolute;
        width: 50%;
    }
    h2.home-slide-caption-title {
        color: $sc-color-primary;
        font-family: 'Oswald', sans-serif;
        font-size: $sc-base-font-size * 5;
        line-height: $sc-base-font-size * 5;
    }
    p {
        display: none;
        @media (min-width: $screen-xs-min) {
            color: $sc-color-primary;
        }
    }
}
