/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/
#site-footer {
    background-color:  $sc-color-theme-background-lightest
}
footer {
    /*  background: $sc-color-theme-background;*/
    border-top: 1px solid $sc-color-theme;
    color: $sc-color-theme;
}
.footer-content{
    @extend .container;
    @extend .row;
    margin: auto;
}
.footer-content-nav {
    /*    @extend .col-md-6;
        @extend .col-xs-10;*/
    overflow: hidden;
    padding: $sc-base-padding * 3 0 0 0;
    border-top: 1px solid $sc-color-theme-border;
    float: left;
    width: 100%;
    margin-bottom: $sc-medium-margin;
}
.footer-content-nav-list {
    list-style: none;
    margin: 0 0 10px;
    // padding: $sc-base-padding * 6 0 0;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        float: left;
        margin: 0 1%;
        // padding-top: $sc-base-padding * 5;
        width: 22%;
        /* @extend .col-md-3; */
    }

    /*@media (min-width: $screen-md-min) {
        text-align: left;
        @extend .col-xs-3;
    }*/
}
.footer-content-nav-list:first-child {
    margin-left: 0;
}
.footer-content-nav-list-last {
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) {
        margin-right: 0;
        width: 20%;
    }
}

.footer-content-nav-list > li {
    // margin-right: $sc-base-margin * 2;
    display: none;
    font-size: $sc-h5-font-size;
    padding-top: $sc-base-padding;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        display: list-item !important;
        font-size: 14px;
        height: auto !important;
        visibility: visible !important;
        text-align: center;
    }
}

.footer-content-nav .first {
    color: $sc-color-primary;
    display: list-item;
    font-size: $sc-h5-font-size;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-content-nav-list a {
    color: $sc-color-theme;
}

.footer-newsletter {
    text-align: center;
    padding: $sc-base-padding * 2;
    font-size: $sc-h3-font-size;
    width: 100%;
    margin: auto;

    @media (min-width: $screen-sm-min) {
        width:50%;
    }
}

.newsletter-subscription-form-label {
    display: none;
}

.newsletter-subscription-form-button-subscribe {
    height: $sc-target-size;
    margin-bottom: $sc-small-margin;
    @extend .button-secondary;
    @extend .col-sm-5;
    @extend .col-xs-12;
    background-color: $sc-color-primary;
    color: #FFFFFF;
    font-size: medium;
}

.newsletter-subscription-form-button-subscribe:hover {
    background-color: $sc-color-link-hover;
}

.footer-social {
    clear: both;
    margin: auto;
    text-align: center;
    width: 33%;
    margin-bottom: $sc-base-margin * 3;


    @media (min-width: $screen-sm-min) {
        float: right;
        width: auto;

    }
}

.footer-social-item {
    display: block;
    float: left;
    margin-right: 12px;
    text-align: -webkit-match-parent;
}
.footer-social-item a {
    color: $sc-color-secondary;
}
.footer-social-facebook-icon {
    font-size: 20px;
    color: $sc-color-theme-light;
    @extend .fa;
    @extend %fa-facebook-square;
}
.footer-social-twitter-icon {
    color: $sc-color-theme-light;
    font-size: 20px;
    @extend .fa;
    @extend %fa-twitter-square;
}
.footer-social-google-icon {
    color: $sc-color-theme-light;
    font-size: 20px;
    @extend .fa;
    @extend %fa-google-plus-square;
}
.footer-social-pinterest-icon {
    color: $sc-color-theme-light;
    font-size: 20px;
    @extend .fa;
    @extend %fa-pinterest-square;
}
.footer-content-bottom {
    border-top: 1px solid $sc-color-theme-border;
    clear: both;
    color: $sc-color-theme-light;
    font-size: $sc-smallest-font-size;
    margin-top: $sc-base-margin * 4;
    text-align:center;
    background: $sc-color-theme-background;
    height: $sc-target-size;
    line-height: $sc-target-size;

    @media (min-width: $screen-md-min) {
        padding: $sc-base-padding * 0 2;
        text-align: left;
    }
}
.footer-copyright {
    float: left;
    font-style: italic;
    background: $sc-color-theme-background;
    width: 100%;

    @media (min-width: $screen-md-min) {
        width: auto;
    }
}
.footer-copyright li {
    border-right: none;
    display: inline-block;
    padding: 0 $sc-base-padding * 1;

    @media (min-width: $screen-md-min) {
        border-right: 1px solid $sc-color-theme-border;
    }
}
.footer-copyright li a {
    color: $sc-color-theme-light;
}


.footer-content-right {
    @extend .col-md-4;
    @extend .col-xs-12;
    text-align:center;
    font-size: $sc-base-font-size;
    color: $sc-color-theme-light;
    padding: $sc-base-padding * 3 0;

    @media (min-width: $screen-md-min) {
        text-align: right;
        padding-top: $sc-base-padding * 5;
        padding-bottom: $sc-base-padding * 5;
        float: right;
    }
}