.pac-container {
    z-index: 1051 !important; //makes the google autocomplete shown above the bs modal
}

.store-stock-modal-storelocator{
  @media (min-width: $screen-lg-min) {
      width: 85%;
      max-width: 1270px;
  }

  @media (min-width: $screen-sm-min) {
      width: 95%;
  }
}

.store-stock-container{
  margin-top: $sc-small-margin;
  .store-stock-input-store{
     margin-bottom: $sc-medium-margin;
     @extend .input-medium;
  }
  .store-stock-label-find-store{
    font-weight:$sc-font-weight-bold;
    margin-bottom: $sc-small-margin;
    display: block;
  }

  .store-stock-help{
    @extend .message-info;
    margin-top: $sc-base-margin * 3;
  }

  .store-stock-help-icon{
    @extend .fa;
    @extend %fa-info-circle;
    margin-right: $sc-base-margin;
  }
}

.store-stock-store-label{
  text-transform: uppercase;
  margin-bottom: $sc-base-margin * 2;
  display: block;
}

.store-stock-stock-label{
  text-transform: uppercase;
  margin-bottom: $sc-base-margin * 2;
}

.store-stock-bg{
  @include border-radius(8%);
  padding: $sc-base-padding;
}

.store-stock-bg-in-stock{
  @extend .store-stock-bg;
  background-color: #14892c;
  color: #ffffff;
}

.store-stock-bg-out-stock{
  @extend .store-stock-bg;
  background-color: #d04437;
  color: #ffffff;
}

.store-stock-bg-limited-stock{
  @extend .store-stock-bg;
  background-color: #ffd351;
}

.store-stock-button-check-stock {
    @extend .button-secondary;
    @extend .button-medium;
    width: auto;
}