/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.mini-cart {
	display: none;
	background: $sc-pusher-bg;
	width: 320px;
	padding: $sc-base-padding * 4;
	position: absolute;
	z-index: 1001;
	right: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border: 1px solid $sc-color-theme-border;
	
	&:before {
		position: absolute;
		top: -7px;
		right: 14px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-color-theme-border;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 15px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-color-tertiary;
		border-left: 6px solid transparent;
		content: '';
	}
	
}

.mini-cart {
	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}

.open .mini-cart {
	display: block;
}

.mini-cart-container {
	max-height: 411px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $sc-medium-margin;
}

.mini-cart-item-cell {
	margin-bottom: $sc-medium-margin;
	clear: both;
	overflow: hidden;
}

.mini-cart-item-image img {
	width: $img-small;
	vertical-align:middle;
}

.mini-cart-item-image {
	@extend .col-xs-3;
	height: $img-small;
	line-height: $img-small;
	padding: 0px;
}

.mini-cart-item-details {
	@extend .col-xs-9;
}

.mini-cart-subtotal {
	margin-bottom: $sc-medium-margin;
	overflow: hidden;
}

.mini-cart-subtotal-amount {
	@extend .col-xs-8;
	text-align: right;
	padding: 0px;
}

.mini-cart-subtotal-items {
	@extend .col-xs-4;
	padding: 0px;
	font-weight: $sc-font-weight-semibold;
	text-transform: uppercase;
}

.button-checkout {
	@extend .button-primary;
	@extend .button-medium;
	@extend .button-generic;
	width:100%;
	text-align:center;
}

.button-view-cart {
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-generic;
	width:100%;
	text-align:center;
}

.mini-cart-buttons {
	display: block;
	clear: both;
}

.mini-cart-buttons-left {
	@extend .col-xs-6;
	padding-left: 0px;
	padding-right: $sc-base-padding;
}

.mini-cart-buttons-right {
	@extend .col-xs-6;
	padding-right: 0px;
	padding-left: $sc-base-padding;
}

.product-title {
	margin-bottom: $sc-small-margin;
}

.product-price {
	@extend .middle-price;
	margin-bottom: $sc-small-margin;
}

.product-sku {
	margin-bottom: $sc-small-margin;
}

.product-color {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}

.product-size {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}

.product-qty {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}
