/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

[data-validation-error] input, 
[data-validation-error] select, 
[data-validation-error] textarea
{
	border-color: $sc-color-error;
	outline-color: $sc-color-error;
}

[data-validation-error] i.star-rating-empty{
	@extend .star-rating-error;
}

[data-validation-error] i.star-rating-empty-pegs{
	@extend .star-rating-empty-pegs-error;
}

[data-validation-error="inline"]{
	@extend .message-error;
}

[data-validation-error="block"]{
	@extend .message-error;
}
