<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>SCA QuickStart <%= data.qsType %> - Installation Wizard</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <style type="text/css">
        .wrapper {
            max-width: 980px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="wrapper row-fluid">
        <h1><a href="">SCA QuickStart <%= data.qsType %> - Installation Wizard</a></h1>

        <%= data.content %>

    </div>
    <!-- script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script -->
</body>
</html>