<h2>AN ERROR OCCURRED</h2>

<p><strong>Status Code:</strong> <%= data.errorStatusCode %></p>
<p><strong>Error Code:</strong> <%= data.errorCode %></p>
<p><strong>Error Message:</strong> <%= data.errorMessage %></p>