<% var stepsStatus = data.status.steps; %>
<form action="" method="post" class="form">

    <% if(data.bundles) { %>
        <h3>1. Bundle Dependencies:</h3>

        <% var all_bundles = true; %>
        <ul>
            <li>
                Content Delivery Service: <span class="glyphicon <% if(data.bundles.cds) { %>glyphicon-ok text-success<% } else { all_bundles = false; %>glyphicon-remove text-danger<% } %>"></span>
            </li>
            <li>
                Product Merchandising: <span class="glyphicon <% if(data.bundles.merchandising) { %>glyphicon-ok text-success<% } else { all_bundles = false; %>glyphicon-remove text-danger<% } %>"></span>
            </li>
            <li>
                Product Reviews Records: <span class="glyphicon <% if(data.bundles.reviews) { %>glyphicon-ok text-success<% } else { all_bundles = false; %>glyphicon-remove text-danger<% } %>"></span>
            </li>
            <li>
                Product Lists Records: <span class="glyphicon <% if(data.bundles.prod_lists) { %>glyphicon-ok text-success<% } else { all_bundles = false; %>glyphicon-remove text-danger<% } %>"></span>
            </li>
        </ul>
        <% if(!all_bundles) { %>
        <p class="bg-danger text-danger">
            Some required bundles are missing. Make sure you install them before continuing.
        </p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">I've installed them. Continue.</button>
        </div>
        <% } %>
    <% } %>

    <% if(data.assets_robots) { %>
        <h3>2. Moving required files:</h3>

        <% if(stepsStatus.assetsRobots && stepsStatus.assetsRobots.done) { %>
        <p>Step finished. Status:</p>
        <ul>
            <li>
                <% var assetsData = data.assets_robots.assets; %>
                "assets" folder:
                <% if(assetsData.status > 0) { %>
                <span class="glyphicon glyphicon-ok text-success"></span> <strong>Moved</strong>
                <% } else if(assetsData.status === 0) { %>
                <span class="glyphicon glyphicon-ok text-warning"></span> <strong>Not moved</strong> - an "assets" folder exists in target location, please merge manually.
                <% } else { %>
                <span class="glyphicon glyphicon-remove text-error"></span> <strong>Error moving</strong>
                    <% if(assetsData.code === 'ERR_ASSETS_NOT_FOUND') { %>
                    - "assets" folder not found in bundle folder.
                    <% } %>
                <% } %>
            </li>
            <li>
                <% var robotsData = data.assets_robots.robots; %>
                "robots.txt" file:
                <% if(robotsData.status > 0) { %>
                <span class="glyphicon glyphicon-ok text-success"></span> <strong>Moved</strong>
                <% } else if(robotsData.status === 0) { %>
                <span class="glyphicon glyphicon-ok text-warning"></span> <strong>Not moved</strong> - existing site is running in "Live Hosting Files".
                <% } else { %>
                <strong>Not moved</strong>
                <% } %>
            </li>
        </ul>
        <% } else { %>
        <input type="hidden" name="step" value="2" />
        <p>Current status:</p>
        <ul>
            <li>
                "assets" folder: <% if(data.assets_robots.assets_moved) { %><span class="glyphicon glyphicon-ok text-success"></span> <strong>Already moved</strong><% } else { %><strong>Not yet moved</strong><% } %>
            </li>
            <li>
                "robots.txt" file: <% if(data.assets_robots.robots_moved) { %><span class="glyphicon glyphicon-ok text-success"></span> <strong>Already moved</strong><% } else { %><strong>Not yet moved</strong><% } %>
            </li>
        </ul>
        <% if(!data.assets_robots.robots_moved) { %>
        <p>Bundled "assets" folder and "robots.txt" need to be moved to "Live Hosting Files".</p>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="robots_move" value="move" required /> <strong>It's OK to move "robots.txt" to "Live Hosting Files"</strong>, I don't have another site running there.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="robots_move" value="not_move" required /> <strong>Do not move "robots.txt"</strong>, I don't want to affect the other Web Site.
                </label>
            </div>
        </div>
        <p>This step will attempt to move "assets" folder regardless of the robots option selected.</p>
        <% } %>
        <% if(!data.website) { %>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Run Step 2</button>
        </div>
        <% } %>
        <% } %>
    <% } %>

    <% if(data.website) { %>
        <h3>3. Choose Web Site & Fieldsets:</h3>

        <% if(stepsStatus.website && stepsStatus.website.done) { %>
        <p>
            Fieldsets set up. Status:
            <% if(data.website.status.fieldsets >= 0) { %>
            <span class="glyphicon glyphicon-ok text-success"></span>
            <% } else { %>
            <span class="glyphicon glyphicon-remove text-error"></span> You'll need to manually add the fieldsets.
            <% } %>
        </p>
        <% } else { %>
        <input type="hidden" name="step" value="3" />
        <p>The following will save the selected website, and set up in the fieldsets in it.</p>
        <% if(data.website.websites && data.website.websites.length) { %>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <select name="website_id" size="<%- data.website.websites.length %>" class="form-control" required>
                        <option value="" selected>- Select a Web Site -</option>
                        <% _.each(data.website.websites, function(website) { %>
                        <option value="<%- website.internalid %>"><%= website.displayname %> (<%= website.internalname %>)</option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Run Setup</button>
        </div>
        <% } else { %>
            <p class="bg-danger text-danger">
                No valid SuiteCommerce Advanced Web Site was found (at least with ID between 1 and 20). Make sure you create one before continuing.
            </p>
            <div class="form-group">
                <a href="" class="btn btn-primary">I've created one. Refresh.</a>
            </div>
        <% } %>
        <% } %>
    <% } %>

    <% if(data.cds_merch) { %>
        <h3>4. Content Delivery and Merchandising Zones:</h3>

        <% if(stepsStatus.cdsMerch && stepsStatus.cdsMerch.done) { %>
        Entries creation performed. Results:
        <ul>
            <li>
                Content Delivery
                <ul>
                    <li>
                        Landing Pages:
                        <% if(data.cds_merch.cds.landings >= 0) { %>
                        <span class="glyphicon glyphicon-ok text-success"></span>
                        <% } else { %>
                        <span class="glyphicon glyphicon-remove text-error"></span>
                        <% } %>
                    </li>
                    <li>
                        Enhanced Pages:
                        <% if(data.cds_merch.cds.enhanced >= 0) { %>
                        <span class="glyphicon glyphicon-ok text-success"></span>
                        <% } else { %>
                        <span class="glyphicon glyphicon-remove text-error"></span>
                        <% } %>
                    </li>
                </ul>
            </li>
            <li>
                Merchandising Zones:
                <% if(data.cds_merch.merch >= 0) { %>
                <span class="glyphicon glyphicon-ok text-success"></span>
                <% } else { %>
                <span class="glyphicon glyphicon-remove text-error"></span>
                <% } %>
            </li>
        </ul>
        <% } else { %>
        <input type="hidden" name="step" value="4" />
        <p>QuickStart's Content Delivery and Merchandising Zones record entries will be created and associated to the above selected Web Site.</p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Entries</button>
        </div>
        <% } %>
    <% } %>

    <% if(data.finished) { %>
        <h3>Done! You're good to go.</h3>
    <% } %>
</form>