{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div id="banner-footer" class="content-banner banner-footer" data-cms-area="global_banner_footer" data-cms-area-filters="global"></div>
<div class="footer-content">
	<div class="footer-content-nav">

		<ul class="footer-content-nav-list about-us">
			<li class="first">
				<a href="" class="first" data-toggle="collapse" data-target=".about-us .footer-collapsed-list" data-type="collapse">{{translate 'About us'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Stores'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Careers'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Affiliate'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Press & More'}}</a>
			</li>
		</ul>

		<ul class="footer-content-nav-list my-account">
			<li class="first">
				<a href="" class="first" data-toggle="collapse" data-target=".my-account .footer-collapsed-list" data-type="collapse">{{translate 'My Account'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Order History'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Returns'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'My Profile'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'My Wishlist'}}</a>
			</li>
		</ul>

		<ul class="footer-content-nav-list customer-service">
			<li class="first">
				<a href="" class="first" data-toggle="collapse" data-target=".customer-service .footer-collapsed-list" data-type="collapse">{{translate 'Customer Service'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Shipping Info'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href=""{{translate 'Size Guide'}}></a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Gift Cards'}}</a>
			</li>
			<li class="footer-collapsed-list">
				<a href="">{{translate 'Returns'}}</a>
			</li>
		</ul>

		<ul class="footer-content-nav-list company-name">
			<li class="first" data-toggle="collapse" data-target=".company-name .footer-collapsed-list" data-type="collapse">{{translate 'Company Name'}}</li>
			<li class="footer-collapsed-list">1-888-123-4567</li>
			<li class="footer-collapsed-list">1-555-789-3456</li>
			<li class="footer-collapsed-list">{{translate 'Email us'}}</li>
			<li class="footer-collapsed-list">{{translate 'FAQ'}}</li>
			<li class="footer-collapsed-list">
				<ul class="footer-social">
					<li class="footer-social-item">
						<a class="" href="https://www.twitter.com/" target="_blank">
							<i class="footer-social-twitter-icon"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="">
							<i class="footer-social-google-icon"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="">
							<i class="footer-social-facebook-icon"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="">
							<i class="footer-social-pinterest-icon"></i>
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="footer-content-nav-list footer-content-nav-list-last newsletter-signup">
			<li class="first" data-toggle="collapse" data-target=".newsletter-signup .footer-collapsed-list" data-type="collapse">{{translate 'Newsletter Sign Up'}}</li>
			<li class="footer-collapsed-list" data-view="Newsletter.SignUp"></li>
		</ul>
	</div>

	<div class="footer-content-copyright">
		<ul>
			<li><a href="">{{translate 'Privacy Policy'}}</a></li>
			<li><a href="">{{translate 'Terms & Conditions'}}</a></li>
			<li><a href="">{{translate 'Sitemap'}}</a></li>
			<li>
				<a href="">
					{{#if showRange}}
                		{{translate '&copy; $(0)-$(1) $(2)' firstYear currentYear companyName}}
            		{{else}}
                		{{translate '&copy; $(0) $(1)' currentYear companyName}}
            		{{/if}}
            	</a>
            </li>
		</ul>
	</div>
</div>
