.checkout-fileupload-view{
    @extend .box-column;
}

.checkout-fileupload-view-title{
    margin-bottom: $sc-medium-margin;
}

.checkout-fileupload-view-message{
    @extend .message-info;
}

.checkout-fileupload-view-option-select{
    @extend .input-large;
}

.checkout-fileupload-view-option{
    color: $sc-color-copy;
    display: block;
    padding: $sc-base-padding * 2;
    margin-bottom: $sc-base-margin * 2;
    background-color: #ffffff;
    cursor: pointer;
}

.checkout-fileupload-view-required-text{
    color: #ff0000;
    margin-left: 3px;
}

.checkout-fileupload-view-required-field{
    color: #ff0000;
}

.checkout-fileupload-view-message{
    @extend .message-warning;
}

.checkout-fileupload-view-upload,
.checkout-fileupload-view-remove {
    @extend .button-edit;
    margin-right: $sc-base-margin * 2;
    cursor: pointer;
}
.checkout-fileupload-view-upload {
    margin-bottom: $sc-base-margin * 2;
    margin-right: 0;
}
.checkout-fileupload-view-name{}