{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div id="back-to-top" class="back-to-top">
	<a href="#" data-action="back-to-top">
		<i class="back-to-top-icon"></i>
		{{translate 'Back to Top'}}
	</a>
</div>