/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.star-rating {
  position: relative;
  clear: both;
  float: left;
  min-width: 90px;
}
.star-rating-area {
  position: relative;
  float: left;
  //margin-right: $sc-base-margin;
}
.star-rating-area-writable {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  button {
    width: 17px;
    height: 15px;
    float: left;  
    background: rgba(255,255,255, 0);
  }
}
.star-rating-area-writable-pegs {
  @extend .star-rating-area-writable;
  button {
    width: 17px;
    height: 15px;
    float: left;
    background: rgba(255,255,255, 0);
  }
}
.star-review-total {
  color: $sc-color-secondary;
  line-height: 25px;
}
.star-rating-value {
  font-weight: $sc-font-weight-bold;
  font-size: $sc-base-font-size;
}
.star-rating-empty,
.star-rating-filled,
.star-rating-error {
  font-size: $sc-base-font-size;
}
.star-rating-empty {
  @extend .icon-star;
}
.star-rating-filled {
  @extend .icon-star-filled;
}
.star-rating-error {
  @extend .icon-star-error;
}

.star-rating-label {
  font-size: 14px;
  font-weight: $sc-font-weight-semibold;
  float: left;
  width: 90px;
}
.star-rating-pegs-small {
  width: 20px;
  height: 12px;
}
.star-rating-pegs-medium {
  width: 40px;
  height: 20px;
}
.star-rating-empty-pegs {
  display: inline-block;
  background: #FFF;
  border: 2px solid $sc-color-theme-border;

  @extend .star-rating-pegs-small;
}
.star-rating-empty-pegs-error {
  display: inline-block;
  background: #FFF;
  border: 2px solid $sc-color-star-error;

  @extend .star-rating-pegs-small;
}
.star-rating-filled-pegs {
  @extend .star-rating-empty-pegs;
  background: $sc-color-secondary;  
  border: 2px solid $sc-color-secondary;  
}
.star-rating-area-fill {
  position: absolute;
  overflow: hidden;
  top: 0;
}
.star-rating-area-filled {
  width:257px;
  text-align: left;
}
.star-review-total-empty-number {
  @media (min-width: $screen-sm-min) {
      display: none;
  }
}
[data-type="sc-pusher"] {
  .star-review-total {
      margin-left: $sc-base-margin;
  }
  .star-review-total-no-review, .star-review-total-review {
      display: none;
  }
}