/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-state-group-label {
    @extend .input-label;
}
.global-views-state-group-input,
.global-views-state-group-select {
    @extend .input-large
}

.global-views-state-optional-label {
	@extend .input-optional;
	font-weight: $sc-font-weight-normal;
	display: inline;
}