.order-history-shipping-group-shipto-name{
  text-transform: none !important;
}

.order-history-shipping-icon{
    @extend .fa;
    @extend %fa-shipping;
}

.order-history-pickup-icon{
    @extend .fa;
    @extend %fa-store;
}

.order-history-details-pickupinstore-groups .order-history-shipping-group-accordion-head-toggle{
    color: $sc-color-copy;
}