.bopis-order-wizard-pickupby-module{
    margin-bottom: $sc-small-margin;
}

.bopis-radio-pickupby-options{
    margin-left: $sc-base-margin * 2;
}

.bopis-form-group{
    padding-left: $sc-base-padding * 2;

    .bopis-form-input{
        @extend .input-medium;
        margin: $sc-base-margin * 2 0;
    }

    .bopis-form-label{
        @extend .input-label;
        font-weight: normal;
        margin-left: $sc-base-margin;
    }
}

.bopis-order-wizard-pickupby-module-wizard-readonly{
    @extend .box-column;
    .bopis-label-pickupby{
        @extend h5;
    }
}

.order-wizard-msr-package-creation-header-subtitle {
    margin-top: $sc-base-margin;
}