<h1>Available Gift Certificates</h1>

<table>
    <thead>
      <tr>
          <th>Sender</th>
          <th>Amount</th>
      </tr>
    </thead>
    <tbody data-view="MyGiftCertificates.Collection"></tbody>
</table>
