<div class="storelocator-form">
    <form role="form">
        <fieldset>
             <div class="control-group">
                <label for="">{{translate 'Zipcode or town name'}}</label>
                <div class="storelocator-input">
                    <input type="text" class="storelocator-search form-control" name="storelist-place" id="storelist-place" data-storelist-place="store-list-place" value="{{storeSearchText}}">
                </div>
             </div>
             <div class="control-group">
                <button type="submit" class="storelocator-submit storelocator-button">
                    {{translate 'Find Store'}}
                </button>
                {{#if showGeolocationButton}}
                    <button type="button" name="geolocate" class="storelocator-geolocate storelocator-button">
                        {{translate 'Use Current Location'}}
                    </button>
                {{/if}}
                {{#if showAllStoreLink}}
                <a href="{{listStoreLink}}">{{translate 'Show All Stores'}}</a>
                {{/if}}
            </div>
        </fieldset>
    </form>
</div>