/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.return-authorization-detail-back{
    @extend .button-back;	
}
.return-authorization-detail {}
.return-authorization-detail-header-total {
	display: none;
	float: right;

	@media(min-width: $screen-sm-min){
		display: block;
	}
}
.return-authorization-detail-header-info {}
.return-authorization-detail-header-row {
	@extend .row;
	margin-bottom:$sc-medium-margin;
}

.return-authorization-detail-header-info-left{
	@extend .col-sm-6;
}
.return-authorization-detail-header-info-right{
	@extend .col-sm-6;
	text-align:right;
}
.return-authorization-detail-header-info-from {
	@extend .sc-label;
}
.return-authorization-detail-header-info-return-date {
	@extend .sc-label;
}
.return-authorization-detail-header-info-amount {
	@extend .sc-label;

	@media(min-width: $screen-sm-min){
		display: none;
	}
}
.return-authorization-detail-header-info-status {
	@extend .sc-label;
}
.return-authorization-detail-header-info-return-date-value {
	@extend .sc-value;
}
.return-authorization-detail-header-info-amount-value {
	@extend .sc-value;
}
.return-authorization-detail-header-info-status-value {
	color: $sc-color-primary;
}

// Items View
.return-authorization-detail-row {
	@extend .row;
}
.return-authorization-detail-content-col {
	@extend .col-md-8;
	margin-bottom:$sc-medium-margin;
}
.return-authorization-detail-accordion-divider {
	margin-bottom:$sc-medium-margin;
}
.return-authorization-detail-accordion-head {
	@extend .accordion-head;
}
.return-authorization-detail-head-toggle {
	@extend .accordion-head-toggle;
}
.return-authorization-detail-head-toggle-icon {
	@extend .accordion-toggle-icon;
}
.return-authorization-detail-body {
	@extend .accordion-body;
}
.return-authorization-detail-headers {
	@extend .item-view-cell-navigable-header;
}
.return-authorization-detail-headers-image {}
.return-authorization-detail-headers-product {}
.return-authorization-detail-headers-quantity {}
.return-authorization-detail-headers-reason {}
.return-authorization-detail-headers-amount {
	text-align: right;
}

// Summary
.return-authorization-detail-summary-col {
	@extend .col-md-4;
}
.return-authorization-detail-summary-container {
	@extend .summary-container;
	margin-bottom:$sc-small-margin;
}
.return-authorization-detail-summary-title{
	@extend .summary-title;
}
.return-authorization-detail-tax {
	@extend .shopping-cart-summary-grid;
}
.return-authorization-detail-summary-tax-label {
	@extend .shopping-cart-summary-grid-left;
}
.return-authorization-detail-summary-tax-label-value {
	@extend .shopping-cart-summary-grid-right;
}
.return-authorization-detail-summary-handling {
	@extend .shopping-cart-summary-grid;
}
.return-authorization-detail-summary-handling-label {
	@extend .shopping-cart-summary-grid-left;
}
.return-authorization-detail-summary-handling-value {
	@extend .shopping-cart-summary-grid-right;
}
.return-authorization-detail-summary-total {
	@extend .shopping-cart-summary-total;
}
.return-authorization-detail-summary-total-label {
	@extend .col-xs-6;
	text-align:left;
}
.return-authorization-detail-summary-total-value {
	@extend .col-xs-6;
	text-align:right;
}
.return-authorization-detail-summary-pdf {}
.return-authorization-detail-summary-cancel-request {}

.return-authorization-detail-summary-pdf-download-button,
.return-authorization-detail-summary-cancel-request-button {
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-generic;
	margin-bottom:$sc-small-margin;
}


.return-authorization-detail--summary-total{
	p{
		@extend .summary-total;
	}
}

.return-authorization-detail-summary-subtotal{
	p{
		@extend .summary-subtotal;
	}
}

.return-authorization-detail-summary-grid{
	@extend .shopping-cart-summary-grid;
}

.return-authorization-detail-summary-grid-float{
	@extend .summary-grid-float;
}

.return-authorization-detail-summary-amount-tax{
	@extend .summary-grid-right;	
}

.return-authorization-detail-summary-amount-shipping{
	@extend .summary-grid-right;	
}

.return-authorization-detail-summary-amount-total{
	@extend .summary-grid-right;	
}


.return-authorization-detail-summary-grid-left{
	@extend .col-xs-6;
	text-align:left;
}

.return-authorization-detail-summary-grid-right{
	@extend .col-xs-6;
	text-align:right;
}

.return-authorization-detail-comments{
	padding-left:$sc-base-padding * 3;
}

.return-authorization-detail-products-table{
	@extend .table-flex-item-navigable;
}

.return-authorization-detail-comments-row{}
.return-authorization-detail-header-info-from-label{}