/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-history-list-tracking-number-not-available,
.order-history-list-tracking-number-label {
	@extend .sc-value;
}
.order-history-list-tracking-number-not-available-label {
	@extend .sc-label;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}
.order-history-list-tracking-number-control {
	position: relative;
}

.order-history-list-tracking-number-control-button {
	@extend .sc-flyout-control;
}

.order-history-list-tracking-number-control-toggle-icon {
	@extend .sc-flyout-toggle-icon;
}

.order-history-list-tracking-number-control-numbers {
	@extend .sc-flyout-content;
}
