/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-history-list-button-back {
	@extend .button-back;
}
.order-history-list-header {
	border-top: 1px solid $sc-color-theme-border;	
	padding: $sc-base-padding * 3 0;
}
.order-history-list-button-back-icon {
	@extend .button-back-icon;
}
.order-history-list-empty {
	@extend .list-empty;
}

.order-history-list-recordviews-container{
	@extend .recordviews-container;
}

.order-history-list-recordviews-actionable-table{
	@extend .recordviews-actionable-table;
}

.order-history-list-recordviews-actionable-header{
	@extend .recordviews-actionable-header;
}

.order-history-list-recordviews-actionable-title-header{
	@extend .recordviews-actionable-title-header;
}

.order-history-list-recordviews-actionable-date-header{
	@extend .recordviews-actionable-date-header;
}

.order-history-list-recordviews-actionable-currency-header{
	@extend .recordviews-actionable-currency-header;
}

.order-history-list-recordviews-actionable-status-header{
	@extend .recordviews-actionable-status-header;
}

.order-history-list-recordviews-actionable-actions-header{
	@extend .recordviews-actionable-actions-header;
}

.order-history-list-case-list-paginator{
	@extend .case-list-paginator;
}