{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<i class="icon-shopping-cart icon-white"></i>
<span class="item-count{{#if isLoading}} loading{{/if}}">
	{{#if isLoading}}
		<span class="cart_ellipsis"></span>
	{{else}}
		{{#if showPluraLabel}}
			{{translate '<b>$(0)</b> items' itemsInCart}}
		{{else}}
			{{translate '<b>1</b> item'}}
		{{/if}}
	{{/if}}
</span>