/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.quantity-pricing-title {
    margin: $sc-small-margin 0;
    margin-top: $sc-small-margin 20;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: normal;
    text-transform: uppercase;
}

.quantity-pricing-table-wrapper {
    @extend .table-responsive;
    border: none;
}

.quantity-pricing-table {
    width: auto;
    max-width: none;
    margin-top: $sc-small-margin 0;
    border-collapse: collapse;
}

.quantity-pricing-table,
.quantity-pricing-table-cell {
    border: 1px solid lighten($sc-color-copy, 60);
    padding: $sc-base-padding * 0.8 $sc-base-padding * 1.6;
    text-align: center;
}

.quantity-pricing-quantities,
.quantity-pricing-prices,
.quantity-pricing-price-each {
    font-size: $sc-small-font-size;
}
