/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.social-sharing-flyout-content {
	position: relative;
	float: right;
}
.social-sharing-flyout-content-button {
	@extend .sc-flyout-control;
	font-size: 15px;
	min-width: 85px;
}
.social-sharing-flyout-content-button-icon{
	@extend .fa;
	@extend %fa-share-alt-square;
	font-size: 20px; 
}
.social-sharing-flyout-content-social {
	@extend .sc-flyout-content;
	width: 165px;
	left: auto;
	right: 0;
}
.social-sharing-flyout-content-social-facebook,
.social-sharing-flyout-content-social-twitter,
.social-sharing-flyout-content-social-google,
.social-sharing-flyout-content-social-pinterest  {
	text-align: left;
	padding: 10px;
	border: 1px solid $sc-color-theme-border;
	color: $sc-color-theme;
	display: block;
	font-size: 15px;
	// margin-bottom: $sc-base-margin * 2;
	margin-right: $sc-base-margin * 2;
	display: inline-block;
	background: #FFFFFF;

	span {
		display: none;
		@media (min-width: $screen-md-min) {
			display: inline;
		}
	}
}
.social-sharing-flyout-content-social-pinterest {
	margin-bottom: 0;
}
.social-sharing-flyout-content-social-facebook-icon {
	font-size: 20px; 
	color: #3b5998;
	@extend .fa;
	@extend %fa-facebook-square;
}
.social-sharing-flyout-content-social-twitter-icon {
	color: #00b6f1;
	font-size: 20px; 
	@extend .fa;
	@extend %fa-twitter-square;
}
.social-sharing-flyout-content-social-google-icon {
	color: #dd4b38;
	font-size: 20px; 
	@extend .fa;
	@extend %fa-google-plus-square;
}
.social-sharing-flyout-content-social-pinterest-icon {
	color: #bd071d;
	font-size: 20px;
	@extend .fa;
	@extend %fa-pinterest-square;
}


/*** Temporal CSS  ***/

// .social-sharing-btn
// {
// 	background-image: url('../img/socialsharing_buttons.png');
// 	background-repeat: no-repeat;
// 	height: 20px;
// 	display: block;
// 	float: left;
// 	margin-right: 5px;
// }

.facebook-like-btn
{
	// float: left;
	margin: $sc-base-margin * 2 $sc-base-margin * 2 0 0; 
}

// .twitter-share-btn 
// {
// 	background-position: 0 0;
// 	width: 56px;
// }

// .twitter-share-btn:hover
// {
// 	background-position: 0 -20px;
// }

// .twitter-share-btn:active
// {
// 	background-position: 0 -40px;
// }

// .google-plus-btn
// {
// 	background-position: -56px 0;
// 	width: 57px;
// }

// .google-plus-btn:hover
// {
// 	background-position: -56px -20px;
// }

// .google-plus-btn:active
// {
// 	background-position: -56px -40px;
// }

// .pinterest-btn
// {
// 	background-position: -113px 0;
// 	width: 40px;
// }

// .pinterest-btn:hover
// {
// 	background-position: -113px -20px;
// }

// .pinterest-btn:active
// {
// 	background-position: -113px -40px;
// }

.social-sharing-flyout-icons {
	margin-top: $sc-base-margin * 3;
}
.social-sharing-flyout-icons:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.item-image-gallery {
	position: relative;
}

.item-image-gallery .social-sharing-flayout-content-social-pinterest {
	display: none;
}

.item-image-gallery:hover .social-sharing-flayout-content-social-pinterest {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}