/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-title {

	@media (min-width: $screen-md-min) {
		padding-top: $sc-base-padding * 7;
		padding-right: $sc-base-padding * 3;
		padding-left: $sc-base-padding * 3;
	}
}
.facets-faceted-navigation-facet-group-expander {
	border-bottom: 1px solid $sc-color-theme-background;
}
