/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-view-stock-msg {
	margin-top: $sc-base-margin * 2;
	margin-bottom: $sc-base-margin * 2;
}

.item-view-stock-msg-in {
	@extend .stock-info-in;
	@extend .item-view-stock-msg;
}

.item-view-stock-msg-low {
	@extend .stock-info-low;
	@extend .item-view-stock-msg;
}

.item-view-stock-msg-out {
	@extend .stock-info-out;
	@extend .item-view-stock-msg;
}

.item-view-stock-msg-description {
	@extend .stock-info-description;
	@extend .item-view-stock-msg;
}

.item-view-stock-icon {
	margin-right:$sc-base-margin;
}

.item-view-stock-icon-in {
	@extend .item-view-stock-icon;
	@extend .stock-info-in-icon;
}

.item-view-stock-icon-low {
	@extend .item-view-stock-icon;
	@extend .stock-info-low-icon;
}

.item-view-stock-icon-out {
	@extend .item-view-stock-icon;
	@extend .stock-info-out-icon;
}
.item-view-stock-icon-description {
	@extend .item-view-stock-icon;
	@extend .stock-info-description-icon;
}