/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-view-actionable-selected-option-cell {
	 margin-top: $sc-base-margin;
	 margin-bottom: $sc-base-margin;
}
.item-view-cell-navigable-details .item-view-actionable-selected-option-cell {
  padding-left: 0;
}