/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.item-view-cell-navigable{
	@extend .table-flex-item-navigable;
	margin:$sc-base-margin * 2 0;
}

.item-view-cell-navigable-item-image{
	@extend .table-flex-tdfirst;
	@extend .column-type-image;
	img{
		width:100%;
	}
}

.item-view-cell-navigable-details {
	@extend .table-flex-middle-first;
	@extend .table-flex-middle-data;
}

.item-view-cell-navigable-amount {
	@extend .table-flex-middle-last;
	@extend .table-flex-middle-data;
}

.item-view-cell-navigable-value{
	@extend .sc-value;
}

.item-view-cell-navigable-sku-label,
.item-view-cell-navigable-sku-value{
	@extend .sku;
}

.item-view-cell-navigable-item-unit-price {
	@extend .table-flex-middle-data;
}

.item-view-cell-navigable-item-unit-price-value{
	@extend .sc-value;
}

.item-view-cell-navigable-item-unit-price-label{
	@extend .sc-label;
}

.item-view-cell-navigable-item-quantity-label{
	@extend .sc-label;
}

.item-view-cell-navigable-item-quantity{
	@extend .sc-value;
	@extend .table-flex-middle-data;
}

.item-view-cell-navigable-item-totalprice-label{
	@extend .sc-label;
}

.item-view-cell-navigable-item-amount-label{
	@extend .sc-label;
}

.item-view-cell-navigable-item-amount-value{
	@extend .middle-price;
}

.item-view-cell-navigable-item-old-price{
	@extend .old-price;
}

.item-view-cell-navigable-product-title{
	@extend .medium-title;
}

.item-view-cell-navigable-product-title-anchor{
	@extend .medium-title-navigable;
}

.item-view-cell-navigable-amount{
	@extend .column-type-amount;
	@extend .table-flex-middle-data;
	@extend .table-flex-middle-last;
}

.item-view-cell-navigable-item-quantity-label,
.item-view-cell-navigable-item-unit-price-label,
.item-view-cell-navigable-item-amount-label{
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.item-view-cell-navigable-header-col-amount {
	@extend .column-type-amount;
}