/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-view-related-item{
	height:250px;
	width:228px;
}


.item-views-related-item-thumbnail{
	width:100%;
	margin-bottom:$sc-small-margin;
	overflow:hidden;
	display: block;
	min-height: $img-large;
}


.item-views-related-item-title{
	@extend .small-title-navigable;
	text-align:center;
	font-weight:normal;
	text-transform:capitalize;
	margin-bottom:$sc-small-margin;
	display:block;
}


.item-views-related-item-price{
	@extend .small-price;
	margin-bottom:$sc-small-margin;
}

.item-views-related-item-rate{
	margin-bottom:$sc-small-margin;
	display: inline-block;
	text-align:center;
	.star-rating{
		width:92px;
		margin:auto;
	}
}