/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-list-navigable{
	&:hover{
		background:none;
	}
}

.item-list-navigable-image{
	@extend .col-sm-3;
}

.item-list-navigable-details{
	@extend .col-sm-6;
}

.item-list-navigable-actions{
	@extend .col-sm-3;
}

.item-list-navigable-name-link{
	@extend .medium-title-navigable;
}

.item-list-navigable-thumbnail-img{
	width:$img-large;
}

.item-list-navigable-price .item-view-lead-price{
	@extend .middle-price;
}

.item-list-navigable-sku{
	font-size:$sc-small-font-size;
}

.item-list-navigable-qty{
	clear:both;
	display:block;
	width:100%;
}

.item-list-navigable-qty input[type=number]{
    float: left;
    width: 60px;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
    color: $sc-color-copy;
    background: $sc-color-theme-background-light;
    outline: none;
    border: 0px;
}

.item-list-navigable-label-qty{
	float: left;
	margin-right: 15px;
	line-height: 40px;
}

.item-list-navigable-amount{
	clear:both;
	display:block;
}

.item-list-navigable-edit-button{
   @extend .split-button;
}
 
.item-list-navigable-edit-button-edit{
	@extend .button-tertiary;
	@extend .button-small;
	border-right:none;
}

.item-list-navigable-edit-button-drop{
	@extend .button-tertiary;
	@extend .button-small;
	i{
		@extend .fa;
		@extend %fa-angle-down;
	}
}

.item-list-navigable-edit-content{
    @extend .split-button-dropdown;
    display:none;
}