/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-invoice-module-row{
	@extend .row;
}

.payment-wizard-invoice-module-table-select-col{
	width:10%;
	display:table-cell;
}


.payment-wizard-invoice-module-table{
	@extend .table-flex-record-actionable-navigable;
	margin-bottom:$sc-medium-margin;
}

.payment-wizard-invoice-module-table tr{
	@media (min-width: $screen-md-min){
		display: table-row;
	}
}

.payment-wizard-invoice-module-table thead tr{
	border-bottom:1px solid $sc-color-theme-border;
	display:none;
	@media (min-width: $screen-md-min){
		display: table-row;
	}
}



.payment-wizard-invoice-module-table-header th{
	text-align: right;
	padding-top: $sc-base-padding * 3;
	padding-bottom: $sc-base-padding * 2;
	font-weight: normal;
}

.payment-wizard-invoice-module-table-body td{
	vertical-align: middle;
	@media (min-width: $screen-md-min){
		height: 60px;	
	}
}


th.payment-wizard-invoice-module-table-invoice-number{
	width:20%;
	display:table-cell;	
	text-align:left;
}


.payment-wizard-invoice-module-table-invoice-amount{
	width:20%;
	display:table-cell;	
	text-align:right;
}

.payment-wizard-invoice-module-table-invoice-due-date{
	width:20%;
	text-align:right;
}

.payment-wizard-invoice-module-table-invoice-action{
	width:30%;
	display:table-cell;	
}

.payment-wizard-invoice-module-list-empty {
	@extend .list-empty;
}

.payment-wizard-invoice-module-payment-list{}
.payment-wizard-invoice-module-list-subheader{}