/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.payment-wizard-credit-transaction-module{
	margin-bottom: $sc-base-margin * 6;
}

.payment-wizard-credit-transaction-module-records-head-row{
	border-bottom: 1px solid $sc-color-theme-border;
}

.payment-wizard-credit-transaction-module-expander-head{
	@extend .accordion-head;
}

.payment-wizard-credit-transaction-module-expander-head-toggle{
	@extend .accordion-head-toggle;
}

.payment-wizard-credit-transaction-module-expander-head-toggle-icon{
	@extend .acordion-head-toggle-icon;
}

.payment-wizard-credit-transaction-module-expander-body{
	@extend .accordion-body;
}

.payment-wizard-credit-transaction-module-expander-body-wrapper{
	padding: $sc-base-padding * 4;
}

.payment-wizard-credit-transaction-module-records{
	@extend .table-flex-record-actionable-navigable;
}

.payment-wizard-credit-transaction-module-records-head tr{
	display: none;
	@media (min-width: $screen-md-min){
		display: table-row;
	}
}

.payment-wizard-credit-transaction-module-records-head th{
	text-align: right;
	padding-top: $sc-base-padding * 3;
	padding-bottom: $sc-base-padding * 2;
	font-weight: normal;
}

.payment-wizard-credit-transaction-module-records-body td{
	vertical-align: middle;
	

	@media (min-width: $screen-md-min){
		height: 60px;	
	}
}

.payment-wizard-credit-transaction-module-records-foot .payment-wizard-credit-transaction-module-subtotal{
	@extend .sc-value;
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	text-align:right;
	font-weight: $sc-font-weight-bold;
}

.payment-wizard-credit-transaction-module-records-action-col{
	width:15%;
}

.payment-wizard-credit-transaction-edit-action-anchor{
	@extend .button-tertiary;
	@extend .button-small;
}