/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.invoice-paid-list-button-back {
	@extend .button-back;
}

.invoice-paid-list-button-back-icon {
	@extend .button-back-icon;
}

.invoice-paid-list-header{
	margin-bottom: $sc-small-margin;
}

.invoice-paid-list-header-nav{
	margin-bottom: $sc-medium-margin;
}

.invoice-paid-list-header-button-open{
	@extend .button-medium;
	@extend .button-pill;
}

.invoice-paid-list-header-button-paid{
	@extend .button-medium;
	@extend .button-pill-active;
}

.invoice-paid-list-records{
	@extend .table-flex-record-selectable-navigable;
}

.invoice-paid-list-records-head tr{
	display: none;
	@media (min-width: $screen-md-min){
		display: table-row;
	}
}

.invoice-paid-list-records-head th{
	text-align: right;
	padding-bottom: $sc-base-padding * 2;
	font-weight: normal;
	border-bottom: 1px solid $sc-color-theme-border;
	width: 25%;
}

.invoice-paid-list-records-head .invoice-paid-list-head-invoicenumber{
	text-align: left;	
}

.invoice-open-list-body,
.invoice-paid-list-body {
	margin-top: $sc-base-margin * 3;
}
.invoice-paid-list-body{

	/*@media(min-width: $screen-sm-min){
		.recordviews-title,
		.recordviews-date,
		.recordviews-date,
		.recordviews-currency{
			width: 25%;
		}
	}*/
	.recordviews-currency {
		@extend .table-flex-td-last;
	}
	
	.recordviews-row{
		cursor: pointer;
	}
}

