/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.modal-homepage .global-views-modal-content-header {
    margin-bottom: 0;
}

.homepage-popup-settings-title {
    margin-bottom: $sc-medium-margin;
}

.homepage-popup-language,
.homepage-popup-currency {
    @extend .row;
}

.homepage-popup-language-label-wrapper,
.homepage-popup-currency-label-wrapper {
    @extend .col-sm-2;
}

.homepage-popup-language-input-wrapper,
.homepage-popup-currency-input-wrapper {
    @extend .col-sm-10;
}

.homepage-popup-language-label,
.homepage-popup-currency-label {
    @extend .input-label;
    margin: $sc-small-margin 0;
}

.homepage-popup-language-input,
.homepage-popup-currency-input {
    @extend .input-medium;
}