/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.guest-order-status-summary-container {
  @extend .summary-container;
  margin-top: $sc-small-margin * 3;
}

.guest-order-status-summary-title {
  @extend .summary-title;
}

.guest-order-status-summary-line {
  @extend .row;
  padding-bottom: $sc-base-padding * 3;
}

.guest-order-status-summary-line-name {
  @extend .col-xs-6;
  padding-left: $sc-base-padding * 6;
}

.guest-order-status-summary-line-value {
  @extend .col-xs-6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}