.inventory-display-container{
    .inventory-display-help{
        @extend .message-info;
        margin-top: $sc-base-margin * 3;
    }

    .inventory-display-help-icon{
        @extend .fa;
        @extend %fa-info-circle;
        margin-right: $sc-base-margin;
    }

    .inventory-display-shipping-icon{
        @extend .fa;
        @extend %fa-shipping;
        font-size: 16px;
        margin-right: $sc-base-margin;
    }

    .inventory-display-pickup-icon{
        @extend .fa;
        @extend %fa-store;
        font-size: 16px;
        margin-right: $sc-base-margin;
    }
}